<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, sustainability, ideas, cat shelter, plant pots"
	      name="keywords">
	<title>Other sustainability ideas - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
<div class="container">
	<a class="skip-link" href="#main-content">Skip to main content</a>
	<div class="front-page">
	    <%- include('../../partials/header'); %>

		<main id="main-content">
			<section class="section-2" id="'section-2">
				<h2 class="section-2-heading" id="section-2-heading">Other Sustainability Ideas</h2>

				<div class="services-2">
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-house brown"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-shelter-in-the-rain">Shelter in the rain</a></p>
						<p class="service-paragraph">Re-using old furniture to make cat shelters</p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-seedling green"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-plant-pots">Plant pots</a></p>
						<p class="service-paragraph">Trying to make plastic-free plant pots</p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-chair brown"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-refurbishing-furniture">Refurbishing old furniture</a></p>
					</div>
				</div>

				<div class="services-2">
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-lightbulb black"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-light-swap">Embracing Ikea lighting solutions</a></p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-recycle blue"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-tablecloths">Projects using old tablecloths</a></p>
						<p class="service-paragraph">Ideas for getting more use out of old tablecloths</p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-chair grey"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-refurbishing-garden-items">Refurbishing garden items</a></p>
						<p class="service-paragraph">Garden-based refurbishment projects</p>
					</div>
				</div>

				<div class="services-2">
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-recycle green"></i>
						<p><a class="service-heading vfb-link header-link" href="/sustainability-more-tablecloths">Using more tablecloths</a></p>
						<p class="service-paragraph">Making wood ash lye, natural dyes and fashioning a fabric laundry basket</p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-solid fa-circle-question black"></i>
						<p><a class="service-heading vfb-link header-link" href="">There'll be more</a></p>
						<p class="service-paragraph">Just haven't decided what yet</p>
					</div>
					<div class="service">
						<i aria-hidden="true" class="fa-regular fa-circle-question brown"></i>
						<p><a class="service-heading vfb-link header-link" href="">And more here</a></p>
						<p class="service-paragraph">Who knows what</p>
					</div>
				</div>

			</section>
		</main>

	  <%- include('../../partials/footer'); %>

	</div>
</div>
</body>
</html>
