<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, cat condo, upcycling, recycling"
	      name="keywords">
	<title>Other sustainability ideas - shelter in the rain - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Shelter in the Rain</h2>
					<p class="section-2-paragraph">
						Bet you weren't expecting me, Kuma, to post a sustainability idea. But that canine has taken over our adventures page to whine about his sore paw so I needed somewhere else to have my say.
					</p>
					<p class="section-2-paragraph">
						It's been mentioned that I like the great outdoors. Don't tell the humans, but like most cats I can find shelter and additional meals when I want. However, there are
						times when I lurk in our garden, getting wet, waiting for them to notice and open the door.
					</p>
					<p class="section-2-paragraph">
						Is it really too much to ask for a cat flap? Or someone watching the garden all the time to see when I return?
					</p>
					<p class="section-2-paragraph">
					 I know they're concerned.
					</p>
					<p class="section-2-paragraph">
						They've put a blanket in the shed and tried to lure me in to use it by leaving snacks in there too. 'Boots', the cat from down the street, was very grateful. Just not my scene.
					</p>
					<p class="section-2-paragraph">
						They've weatherproofed an old occasional table to give me some shelter for outside dining when I was just getting used to them.
					</p>
					<img class="quarter-image" alt="small wooden table wrapped in grey roofing felt, placed on bricks in a garden" src="images/sustainability/cat-feeding-shelter.webp">
					<p class="section-2-paragraph">
						Then made what looked like a kennel from the top of an old wooden desk. Not a bad attempt but a bit too close to the ground and the roof wasn't too sturdy.
					</p>
					<img class="quarter-image" alt="low wooden cat shelter with a damaged roof" src="images/sustainability/old-cat-shelter.webp">
					<p class="section-2-paragraph">
						So they took an old chest of drawers and made me a high-rise shelter.
						<img class="half-image" alt="wooden chest of drawers transformed into a cat shelter with a black cat on the top shelf" src="images/sustainability/cat-condo.webp">
						They like to think it's still under construction, needing a better paint job and the like, but as you can see the penthouse already has a tenant. Me!
					</p>
					<p class="section-2-paragraph">
						So what did they do?
					</p>
					<p class="section-2-paragraph">
						They kept two of the drawers and reinforced the bases with scraps of wood. Anyone would think I'm as hefty as the canine!
					</p>
					<p class="section-2-paragraph">
						One drawer went in place as normal and they've very kindly padded it. I'd prefer something fluffier, but apparently that wouldn't be waterproof. And they had waterproof cushion covers hanging around the house for some reason.
					</p>
					<p class="section-2-paragraph">
						The remaining drawer went in upside down, above the other, leaving a gap. A nice roof for the bedded area and a perfect vantage point for observing the door, wandering canines and potential prey.
						A bit more wood was nailed in at the back to add more protection from the elements.
					</p>
					<p class="section-2-paragraph">
						They're contemplating ramps and steps, obviously thinking I'm as infirm as Jak. What they really need to install is a roof top bird table. I don't mind sharing my condo. Really...
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>