<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool"
	      name="keywords">
	<title>Live Lagom - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1Q9RW05EP"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D1Q9RW05EP');
  </script>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Lagom Journey index pages for the View From Blackpool website." name="description">
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, laundry basket, tablecloths, weaving, upcycling, recycling"
	      name="keywords">
	<meta content="F E Evans" name="author">

	<title>Other sustainability ideas - making a laundry basket - View From Blackpool</title>

	<link href="resources/css/link-styles.css" rel="stylesheet">
	<link href="resources/css/common-page-styles.css" rel="stylesheet">
	<link href="resources/css/styles.css" rel="stylesheet">
	<link href="resources/css/responsive-styles.css" rel="stylesheet">
	<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	      referrerpolicy="no-referrer" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap"
	      rel="stylesheet">
	<link rel="icon" href="images/sustainability/vfb_logo.webp">
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Another (Laundry) Basket Case</h2>
					<p class="section-2-paragraph">
						You've had the teaser for a while. That's because it took a bit of effort to achieve the finished article. And I wanted to do that before posting any more updates.
					</p>
					<img class="quarter-image" alt="circle formed from coiled strips of white cloth" src="images/sustainability/laundrybasketbase.webp">
					<p class="section-2-paragraph">
						I hope you guessed this was the base of a new laundry basket.
					</p>
					<img class="half-image" alt="laundry basket formed from rows of rolled, multicoloured fabric sewn together" src="images/sustainability/second-laundry-basket.webp">
					<p class="section-2-paragraph">
						You can probably tell how the basket was constructed from the picture.
					</p>
					<p class="section-2-paragraph">
						I took strips of fabric, rolled them up and stitched them around the edge of the base. Then kept going, building up the rows until I decided the basket was of sufficient size to hold the masses of laundry we generate.
					</p>
					<p class="section-2-paragraph">
						The project has been great for using up all the tablecloths <i>and</i> the piles of fabric offcuts from dressmaking that I'd retained 'just in case'.
						I would have struggled to make much from some of the scraps. Dolls' clothes perhaps or maybe I could have tried my hand at making a patchwork quilt. Anyway it's a moot point.
					</p>
					<p class="section-2-paragraph">
						I now have a plastic-free laundry basket that is far sturdier than my first attempt. And there's a bit more space in the storage cupboard. It's quite a repository of memories too. Some of the rows will remind me of items of clothing my children and I have worn.
					</p>
					<p class="section-2-paragraph">
						I'm not resting on my laurels though. Another has just gone into production. This time I've ventured into the landing cupboard and cleared out all the sheets and quilt covers that have seen better days.
						Sometimes I use them as dust sheets when decorating, but I've enough for that purpose. With another plastic laundry basket on the brink of collapse, my need is greater than any collector of rags.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>