<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, tablecloths, upcycling, refurbishing, recycling, fabric"
	      name="keywords">
	<title>Other sustainability ideas - getting even more use from a tablecloth - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Getting Even More Use From an Old Tablecloth</h2>
					<p class="section-2-paragraph">
						Due to a misunderstanding, my husband acquired another bundle of tablecloths at another church closing down sale. I'd ear-marked a commemorative tea towel rather than the bundle of cloths. At least I got the tea towel!
					</p>
					<img class="quarter-image" alt="pile of white linen tablecloths in a purple laundrty basket" src="images/sustainability/tablecloths.webp">
					<p class="section-2-paragraph">
						As for the tablecloths, they're too small for our table. There are some holes and stains. I <em>could</em> patch them together into a larger table cloth, but it'd be significant work. And we have sufficient tablecloths for the few times we use them.
					</p>
					<p class="section-2-paragraph">
					My other thought was to weave them into a rag rug or some other item.
					Whatever I did with them, I wanted to try out the natural dyeing skills I'd learnt at a workshop last year. Those cloths wouldn't be white-ish when the project was finished!
					</p>
					<p class="section-2-paragraph">
						To see what I did, you'll need to click on the links below.
					</p>

					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-bucket grey"></i>
							<p><a class="service-heading vfb-link header-link" href="/sustainability-wood-lye">Making lye from wood ash</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-droplet green"></i>
							<p><a class="service-heading vfb-link header-link" href="/sustainability-natural-dyes">Trying out natural dyes</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-table-cells black"></i>
							<p><a class="service-heading vfb-link header-link" href="/sustainability-laundry-basket">Making a laundry basket out of old tablecloths</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-table-cells green"></i>
							<p><a class="service-heading vfb-link header-link" href="/sustainability-another-laundry-basket">Another laundry basket</a></p>
						</div>
					</div>

				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>