<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, wood ash, lye"
	      name="keywords">
	<title>Other sustainability ideas - making lye from wood ash - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
<div class="container">
	<a class="skip-link" href="#main-content">Skip to main content</a>
	<div class="front-page">
	    <%- include('../../partials/header'); %>

		<main id="main-content">
			<section class="section-2" id="'section-2">
				<h2 class="section-2-heading" id="section-2-heading">Love the Way You Lye</h2>
					<p class="section-2-paragraph">
						From using artificial dyes, I knew that most required the addition of salt to the water. It took a bit of googling to realise that I had other options to use as a ‘mordant’ - from the Latin mordere, "to bite", indicating that the substance helps the dye ‘bite’ into the fabric to hold fast during washing.
					</p>
					<p class="section-2-paragraph">
						Some of the chemicals sounded a bit dangerous to use and would need to be purchased. I wanted something I already had around the house, which narrowed down my options to:					</p>
				  </p>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">Baking Soda</li>
						<li class="li-bulleted-list">Cream of Tartar</li>
						<li class="li-bulleted-list">Aged Urine</li>
						<li class="li-bulleted-list">Salt</li>
						<li class="li-bulleted-list">Vinegar</li>
						<li class="li-bulleted-list">Wood ash lye</li>
					</ul>
					<p class="section-2-paragraph">
						Dye results can vary with the mordant chosen, but, as I just wanted to try out getting some colour out of natural materials, I wasn’t going to be too picky on that score.
					</p>
					<p class="section-2-paragraph">
						Ideally it would be something that was surplus to requirements. Hmm, decisions…urine or wood ash lye…I wonder…
					</p>
					<p class="section-2-paragraph">
						Another thing to factor into my decision was the fabric being treated.
					</p>
					<p class="section-2-paragraph">
						Alkaline mordants tend to work best with plant-based fibres like cotton and linen. In contrast, acidic mordants are better with animal fibres like wool.
					</p>
					<p class="section-2-paragraph">
						So I was going to be dyeing cotton tablecloths. No need to age that urine. Fortunately, we do have a wood burner so it was time to empty the ash bucket instead.
					</p>
					<p class="section-2-paragraph">
						Whilst I didn’t sieve the ash, I did remove the larger lumps before stirring into rainwater. Then I let it ‘lye’ for a while. All the ash settles at the bottom of whatever container you’re using so it’s easy to pour the lye off leaving the unwanted sediment behind. I wasn’t ready to start dyeing when I made my lye so I just poured it into a large plastic bottle and stored it away.
					</p>
					<p class="section-2-paragraph">
						Just so you know, sieving the ash <em>is</em> recommended, as is the use of distilled, boiling water and labelling your container of lye. Don’t use metal containers in the preparation or storage because the metal can taint your lye. Many lists of instructions suggest using a bucket with a tap at the bottom and having some material (sand, gravel etc) at the bottom of the bucket to filter the lye through. Whatever equipment you have and whatever works for you.
					</p>
					<p class="section-2-paragraph">
						Apparently, there are ways of testing whether the lye is ready, which I completely disregarded too.
					</p>
					<p class="section-2-paragraph">
						Lower a potato into the lye. If the potato sinks, it needs more time. If it floats, it’s too strong and you’ll need to add more water. If it sinks slowly and just sort of hovers, it’s ready. Wasting a potato doesn't sit right with my sustainability aims so I feel OK about not testing. I think.
					</p>
					<p class="section-2-paragraph">
						It seems you can use your mordant before, during or after dyeing and there are overly complicated terms to cover each option.
					</p>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">Pre-mordanting (onchrome): The fabric is treated with the mordant and then the dye. </li>
						<li class="li-bulleted-list">Meta-mordanting (metachrome): The mordant is added in the dye bath itself. </li>
						<li class="li-bulleted-list">Post-mordanting (afterchrome): The dyed material is treated with a mordant. </li>
					</ul>
					<p class="section-2-paragraph">
						The option you choose will depend upon the types of mordant and dye in use. If, for example, you’re using an acidic mordant with an acidic dye, pre-mordanting or post-mordanting limits the potential for damage to the fabric. And some dyes may not be as effective if mixed with a mordant.
					</p>
				<p class="section-2-paragraph">
					I really should have read through a few more websites. Plant fibres benefit from pre-mordanting. I indulged in a spot of post-mordanting as I was wary of damaging the cloth before boiling it up with the dye. Oh well, next time.
				</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>