<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, furniture, upcycling, refurbishing, recycling"
	      name="keywords">
	<title>Other sustainability ideas - refurbishing old furniture - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Refurbishing Old Furniture</h2>
					<p class="section-2-paragraph">
						This isn't my first rodeo. Refurbishing furniture is a long-held hobby, but I won't go into the details of the things that have been rescued and processed before. This will cover new stuff.
					</p>
					<p class="section-2-paragraph">
						The most recent item requiring attention was acquired at a small price from the local RSPCA charity shop. Fortunately it wasn't too bulky or heavy to carry home, even when I had one of the dogs accompanying me. Although there was a little bit of cussing by the end of the walk.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="small dark brown table, with carved decoration, viewed from the side" src="images/sustainability/table-before-1.webp">
						<img class="quarter-image" alt="small dark brown table, with carved decoration, viewed from above" src="images/sustainability/table-before-2.webp">
					</p>
					<p class="section-2-paragraph">
						Most of my restoration projects have involved tables so you'd think I'd have enough by now. However, this one has a small drawer in it and could be deployed in the hallway as a telephone table.
					</p>
					<p class="section-2-paragraph">
						When purchased the condition seemed reasonable. It was mostly the colour that didn't suit my needs. Then, on closer examination and after time by the front door awaiting refurbishment, I realised that the table top was discoloured and marked.
					</p>
					<p class="section-2-paragraph">
					 The first step is always sanding the item down to the bare wood. This time I decided not to remove the old varnish from the carved details or the rounded parts of the table legs. Obviously, this wasn't due to laziness on my part.
						Or the need to sand these areas by hand and risk losing my thumbprints and thus the ability to authenticate apps on my phone.
						Oh, no. I thought the contrasting wood colours would be aesthetically pleasing.
					</p>
					<img class="quarter-image" alt="small wooden table, sanded to bare wood, with moulded detail and rounded legs covered in dark brown varnish" src="images/sustainability/table-sanded.webp">
					<p class="section-2-paragraph">
						Sometimes I varnish or wax my projects. This time I opted for oiling. It conditions the wood and I don't need to be quite so careful about my technique or things getting stuck to the surfaces. That's become increasingly necessary now we have moulting animals running around the house...and it's not just the dogs I'm referring to. The children seem to shed a lot of hair too!
					</p>
					<p class="section-2-paragraph">
						With just a couple of coats of danish oil, I was done. While I don't care for the aroma, the smell does dissipate reasonably quickly.
					</p>
					<img class="quarter-image" alt="small medium brown table, with carved decoration," src="images/sustainability/table-after.webp">
					<p class="section-2-paragraph">
						And I think it does a good job.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>