<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, laundry basket, tablecloths, weaving, upcycling, recycling"
	      name="keywords">
	<title>Other sustainability ideas - making a laundry basket - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">(Laundry) Basket Case</h2>
					<p class="section-2-paragraph">
						Having completed my dyeing experiment, I had a selection of slightly coloured strips of fabric.
					</p>
					<img class="quarter-image" alt="five piles of dyed cloth. Pale green to the left and orange to the right. Three piles in the centre range from pale green, through cream to light brown." src="images/sustainability/wet-dyed-fabric.webp">
					<p class="section-2-paragraph">
						I planned to weave strips of cloth with the aim of fashioning a laundry bag. I was tired of the handles falling off our laundry carriers and I didn't want to invest in yet more plastic.
					</p>
					<p class="section-2-paragraph">
						I should really have checked how much the tablecloths frayed before embarking on this venture. It really didn't help that they frayed a lot! Still, I was committed to using them, and had my plan, so away I went cutting and rolling strips.
					</p>
					<p class="image-section">
						<img class="small-image" alt="scissors cutting a narrow strip off a piece of white cloth" src="images/sustainability/cutting-strips.webp">
						<img class="quarter-image" alt="a pile of loosely rolled strips of white fabric" src="images/sustainability/strips.webp">
					</p>

					<p class="section-2-paragraph">
					 I retrieved a tapestry frame from the loft and proceeded to stretch a piece of tablecloth between the bars. I could've used individual strips to form the warp of my weaving, but thought slashing slits in the cloth as I went would be better. It wasn't! The cloth wasn't sufficiently robust. But I moaned, fretted and managed.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="white cloth with slits cut vertically at intervals and rows of cloth woven through" src="images/sustainability/weaving.webp">
						<img class="quarter-image" alt="section of cloth strips woven through slits in a piece of white fabric" src="images/sustainability/weaving-2.webp">
					</p>

					<p class="section-2-paragraph">
						Eventually I produced a reasonably rectangular woven base for my laundry bag.
					</p>
					<img class="quarter-image" alt="section of weaving using strips of white tablecloth fabric" src="images/sustainability/woven-base.webp">
					<p class="section-2-paragraph">
						And could have left it like that, but tried ironing old plastic bags onto the surface to try to make a sturdier base. Some of the bags were better at this than others and formed a crisp sheet of plastic. Others just shrivelled to nothing and I wished I hadn't started. I'd maybe skip that step if I tried doing this again.
					</p>
					<img class="quarter-image" alt="plastic bags under a sheet of greasproof paper waiting to be ironed onto a woven fabric base of a laundry bag" src="images/sustainability/plastic-backing.webp">

					<p class="section-2-paragraph">
						I repeated the weaving process for the two sides of the bag, this time using some of the strips I'd dyed. I used multiple layers of the cloth to cover the base and form the ends. Then stitched up the corners. Plaited strips of cloth were used to make handles.
					</p>
					<img class="quarter-image" alt="mostly white fabric laundry bag, with colourful woven sides and plaited cloth handles" src="images/sustainability/laundry_bag.webp">
					<p class="section-2-paragraph">
						So it looks OK and can transport a significant amount of laundry, but is floppier than I'd envisaged.
					</p>
					<p class="section-2-paragraph">
						With more tablecloth fabric to use up and quantities of fabric left over from various sewing projects, I was undaunted and determined to try again.
					</p>
					<p class="section-2-paragraph">
						Here's a hint of what I'm trying this time...
					</p>
					<img class="quarter-image" alt="circle formed from coiled strips of white cloth" src="images/sustainability/laundrybasketbase.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>