<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, natural dyes, Lancashire Wildlife Trust"
	      name="keywords">
	<title>Other sustainability ideas - natural dyes - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">I'd Dye For You</h2>
					<p class="section-2-paragraph">
						There are scores of websites that suggest you can obtain marvellous hues from a variety of plants and other natural substances. Oh to have access to them!
					</p>
					<p class="section-2-paragraph">
						I'd seen the use of onion skins demonstrated by Lancashire Wildlife Trust, but wanted to try something different. And I wanted to use
						substances I already had available to me.
						Some of these were in the garden, like bay leaves and marigold flowers.
					</p>
					<img class="small-image" alt="fresh green bay leaves in a blue enamelled pan" src="images/sustainability/bay-leaves.webp">
					<img class="small-image" alt="stainless steel pan full of marigold flowers" src="images/sustainability/marigolds.webp">
					<p class="section-2-paragraph">
						Others were unused and unwanted but still in the larder. Juniper berries had been acquired for wine making endeavours.
					</p>
					<img class="small-image" alt="dried juniper berries" src="images/sustainability/juniper-berries.webp">
					<p class="section-2-paragraph">
						Then there were the coffee beans that were acquired during the pandemic when it seemed impossible to buy our regular brands...and are not too palatable.
					</p>
					<p class="section-2-paragraph">
						Or it was something I was willing to use because I was confident I'd get a good result. Turmeric. It stains things you don't want when you spill a curry so surely it'd do the trick when used as a dye.
					</p>
					<p class="section-2-paragraph">
            Into the dyeing vat they went. Or rather into a large pan with boiling water. They were gently simmered until the water turned a fetching colour.
					</p>
					<p class="section-2-paragraph">
					 I then added strips of cloth and kept the pan on the heat for a while. The longer the better I thought!
					</p>
					<p class="section-2-paragraph">
						In the hope that I'd get deeper colours, I left the cloth in the dye while it cooled.
					</p>
					<p class="section-2-paragraph">
						The colours weren't always what I'd expected. Yes, turmeric gave me yellow and coffee a pale brown.
					</p>
					<p class="image-section">
						<img class="small-image" alt="turmeric coloured strips of cloth" src="images/sustainability/dyed-turmeric.webp">
						<img class="small-image" alt="light brown strips of cloth with coffee beans " src="images/sustainability/dyed-coffee.webp">
					</p>
					<p class="section-2-paragraph">
						But I hadn't expected more brown tones from the marigold flowers and juniper. I'd hoped for orange or pink.
					</p>
					<p class="image-section">
						<img class="small-image" alt="light brown strips of cloth with marigold petals" src="images/sustainability/dyed-marigold.webp">
						<img class="small-image" alt="light brown strips of cloth with juniper berries" src="images/sustainability/dyed-juniper.webp">
					</p>
					<p class="section-2-paragraph">
						I rinsed the dyed fabric with the lye I'd made previously. Well, I'd made it so I was going to use it. Plus the dye ingredients had left a lot of debris that needed to be removed somehow!
					</p>
					<p class="section-2-paragraph">
						It was fascinating to see the colour change of the turmeric dyed cloth when dipped in the lye, but I think I preferred the original!
					</p>
					<img class="small-image" alt="tan coloured strips of fabric in tan coloured liquid" src="images/sustainability/lye-turmeric.webp">
					<p class="section-2-paragraph">
						So by the end of my experiment I had a few piles of coloured cloth. Just enough to add a bit of interest to the laundry bag I was planning to make from old table cloths.
					</p>
					<img class="half-image" alt="five piles of dyed cloth. Pale green to the left and orange to the right. Three piles in the centre range from pale green, through cream to light brown." src="images/sustainability/wet-dyed-fabric.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>