<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, plant pots, papier mache, plastic-free, gardening, recycling"
	      name="keywords">
	<title>Other sustainability ideas - plant pots - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Plastic-free Plant Pots</h2>
					<p class="section-2-paragraph">
						Where possible, I try to avoid buying plastic plant pots. I re-use the pots that come along with any plants that I buy. I even press old ice cream tubs, yogurt pots or other plastic packaging into service. However, sometimes there are more plants than containers.
					</p>
					<p class="section-2-paragraph">
						The Ikea 'Get Growing' Workshop gave us practice in making pots from newspaper and fellow Lagommers have posted pictures on the Live Lagom Facebook page that show such pots can be effective. However, my origami isn't really up to the task and I wanted something a bit more durable.
					</p>
					<p class="section-2-paragraph">
						So what to do?
					</p>
					<p class="section-2-paragraph">
					 Other Live Lagom Facebook posts had given instructions on making papier-mâché for craft purposes or to fashion handmade paper. I'd wanted to have a go, but there have always been so many other activities competing for my time. I wondered whether I could combine an attempt to make papier-mâché with finding a solution to my planting issues.
					</p>
					<p class="section-2-paragraph">
						There was only one way to find out...
					</p>
					<p class="section-2-paragraph">
						I raided the recycling bag, selecting a mixture of paper and cardboard, and tore it to pieces. An old mop bucket was brought out of retirement to contain all the debris.
					</p>
					<img class="quarter-image" alt="turquoise mop bucket filled with torn pieces of cardboard and paper" src="images/sustainability/pots-shredded-paper.webp">
					<p class="section-2-paragraph">
						It's been years since I've done anything like this, so a quick search online suggested I needed hot water...but only after I'd filled the bucket with cold... I told myself I'd done that deliberately to start the soaking process...
					</p>
					<img class="quarter-image" alt="turquoise mop bucket, filled with paper, cardboard and water, with a hosepipe in one corner" src="images/sustainability/pots-paper-and-water.webp">
					<p class="section-2-paragraph">
						Then I waited.
					</p>
					<p class="section-2-paragraph">
						After a few days, the cardboard and paper seemed sufficiently soggy.
					</p>
					<p class="section-2-paragraph">
						It was time for another household item to come out of retirement. My old mixer had been left to one side when a replacement had been acquired. But it seemed wasteful to dispose of it while it still worked. And it had been useful in processing meals for the dogs.
					</p>
					<img class="quarter-image" alt="food mixer with remants of paper and cardboard stuck to it" src="images/sustainability/pots-mixer.webp">
					<p class="section-2-paragraph">
						Anyway, it did a great job of reducing the soggy cardboard to mush and, no, I haven't just washed it and returned it to the kitchen! I now have a new tool in my crafting and DIY arsenal.
					</p>
					<img class="quarter-image" alt="close up of brown papier-mâché" src="images/sustainability/pots-papier-mache.webp">
					<p class="section-2-paragraph">
						So I had a big pot of papier-mâché and a dilemma. How could I mould pots from it.
					</p>
					<p class="section-2-paragraph">
						My first attempt looked OK. I just pressed the papier-mâché onto the outside of containers, expecting to let the papier-mâché dry and then release the moulds.
					</p>
					<img class="quarter-image" alt="close up of papier-mâché around a plant pot" src="images/sustainability/pots-papier-mache-pot.webp">
					<p class="section-2-paragraph">
						Nice idea, but really I should have thought about greasing the moulds. They were never going to come out.
					</p>
					<p class="section-2-paragraph">
						So I've got two approaches now drying. I've still got papier-mâché applied to the outside of <em>greased</em> containers. And I've also tried applying the papier-mâché onto the inside of containers.
						That won't leave quite as much space for compost, but, as I'm expecting the papier-mâché to contract as it dries, I do hope that the moulds will be easier to free.
					</p>
					<p class="section-2-paragraph">
						This is probably a task for the summer months, when the heat and sunshine will aid the drying process. Well, I can hope for that sort of weather in an English summer. At the moment, I'm expecting the stiff breeze off the Irish Sea to work its magic.
					</p>
					<p class="section-2-paragraph">
						The papier-mâché was very wet so an update on how the experiment worked out may take a little while.
					</p>
					<h3 class="service-heading">
						Update
					</h3>
					<p class="section-2-paragraph">
						A few pots have been created from the experiment.
					</p>
					<img class="quarter-image" alt="close up of papier-mâché plant pot" src="images/sustainability/pot2.webp">
					<p class="section-2-paragraph">
						But there'd have to be a real change in approach if I was to do something similar again.
					</p>
					<p class="section-2-paragraph">
						They took ages to dry then it
						was a bit too hard to remove the pots from their moulds.  My compost bin benefitted by receiving a number of breakages.
						And I'm not convinced that the pots will last very long when the plants within them are being watered regularly.
					</p>
					<p class="section-2-paragraph">
						So it's back to the drawing board.
					</p>

				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>