<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, tablecloths, upcycling, refurbishing, recycling, fabric"
	      name="keywords">
	<title>Other sustainability ideas - getting more use from a tablecloth - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Getting More Use From an Old Tablecloth</h2>
					<p class="section-2-paragraph">
						A couple of churches have closed their doors over the last few years and have attempted to raise some funds by selling off some of their fixtures and fittings. My husband invited me along and it would have been churlish to refuse the opportunity to gather materials for future sustainability projects.
					</p>
					<p class="section-2-paragraph">
						At the first sale, I purchased a bundle of checked tablecloths. My intention was to convert them into tea towels. I just needed to find the time.
					</p>
					<img class="small-image" alt="pile of folded, yellow and white checked tablecloths on a wooden floor" src="images/sustainability/checked-tablecloths.webp">
					<p class="section-2-paragraph">
						It only took a year or two, but I got there eventually.
					</p>
					<p class="section-2-paragraph">
						We'd actually been using some of the cloths to dry the dishes and discovered they weren't the best at soaking up the water. So I decided to fold them in half, stitch them and have a double layered tea towel. Not sure they've been tested yet, but hopefully they'll do a reasonable job.
					</p>
					<img class="small-image" alt="machine sewing a yellow and white checked tablecloth" src="images/sustainability/making-tea-towels.webp">
					<p class="section-2-paragraph">
						There are only so many tea towels a household requires however...and still a few more tablecloths to use.
					</p>
					<p class="section-2-paragraph">
						We used a couple of padded mats for the dog's dishes, to catch drips from water bowls and any scraps left by messy eaters. I think they were originally they were from Lakeland, supposed to provide some sort of cushioning when drying glasses etc. Whatever their intended purpose, we'd had other ideas. We just had issues when they needed to be washed. No substitutes. Until now.
					</p>
					<p class="section-2-paragraph">
						I'd folded the tablecloths once for the tea towels. They were folded a couple more times to fashion feeding mats for our canine friends. Look good and do the trick.
					</p>
					<img class="small-image" alt="padded mat made from a yellow and white checked tablecloth with a dog's water bowl place on top" src="images/sustainability/cloth-mat.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>