<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, furniture, upcycling, refurbishing, recycling, garden, metal, waste"
	      name="keywords">
	<title>Other sustainability ideas - light swap - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Light Bulb Swap</h2>

					<p class="section-2-paragraph">
						We had already made a switch to lower energy bulbs. They gave out a nice warm light, but they always seemed slow to react. So a tick for environmental friendliness but low marks for usability.
					</p>
					<img class="quarter-image" alt="Illuminated 5 armed black metal chandelier with upturned glass globes, lit with an orange-toned light, below a patterned plaster ceiling rose." src="images/sustainability/original-bulbs.webp">
					<p class="section-2-paragraph">
						When given the chance to acquire some Ikea products to improve our sustainability, I looked longingly at the gadgets like the pressure cooker and portable induction hob. I wanted to improve my storage solutions, but hadn’t really decided what I wanted at that stage. And we thought that changing to <a class="vfb-link general-link" href="https://www.ikea.com/gb/en/planners/smart-home/#?c=%22ledBulbs%22” rel="noopener noreferrer" target="_blank">Ikea’s TRÅDFRI smart lighting (opens in a new tab)</a> would have more of an impact for the household.
					</p>
					<p class="section-2-paragraph">
						The LED bulbs use up to 85% less energy and last 20 times longer than incandescent bulbs, which we’d already moved away from. Even so, there’d be savings made and other benefits besides. They’d be dimmable without the need to change wall switches or light fittings and who could resist some colour changing…
					</p>
					<p class="section-2-paragraph">
						We started with enough bulbs and remote controls for two rooms to check how they suited.
					</p>
					<img class="quarter-image" alt="Illuminated 5 armed black metal chandelier with upturned glass globes, lit with an bright white light, below a patterned plaster ceiling rose." src="images/sustainability/tradfri-bulbs.webp">
					<p class="section-2-paragraph">
						We’d opted for the bulbs that could change in three stages from cold to warm light and whose brightness could be varied. So we were all set to vary the mood and brightness of our rooms depending on their use at any time…all at the flick of a switch. We no longer had to get up to flick the switch on the wall as the controller is portable.
					</p>
					<p class="section-2-paragraph">
						After easily installing and loving our first set of bulbs, we’ve been adding tradfri bulbs to other rooms. The swap is nearly complete and we hope to see an impact on our electricity bill in the near future. However, I might need to introduce some motion sensors and/ or behavioural training to truly improve the situation.
					</p>
					<p class="section-2-paragraph">
						Apologies but the video below isn't accessible. With hindsight, I should have added a commentary about what I was filming.
						Essentially I show our 5 armed chandelier light, now equipped with tradfri bulbs, being taken through the 3 different colour options and each being dimmed and brightened.
					</p>
					<video width=20% muted controls>
						<source src="images/sustainability/tradfri-light-cycle.mp4" type="video/mp4">
						<source src="images/sustainability/tradfri-light-cycle.ogv" type="video/ogv">
						Your browser does not support the video tag.
					</video>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>