<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head-ga'); %>
  <%- include('../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, View From Blackpool">
	<title>About Us - View From Blackpool</title>
  <%- include('../partials/head-links'); %>
</head>

<body>
  <div class="container">

	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">About Us</h2>

					<p class="section-2-paragraph">
						This website is owned and created in Blackpool, Lancashire. Some of the content will be provided by Sandgrown 'uns and the rest will be provided by non-natives to the Fylde Coast. There's a mix in the household. One (whisper it) isn't even a Northerner!
					</p>
					<p class="section-2-paragraph">
						Mostly, it'll be a place for a software developer to practice new techniques and try out new software. The website will grow as the training courses are attempted. So please be patient.
					</p>
					<p class="section-2-paragraph">
						While building the website will prove entertaining, it'd be nice to share it. It's always fun to see where visitors originate using Google Analytics and speculate just what horror someone in Mongolia experiences when they mistakenly land on a page purporting to be written by a hamster.
					</p>
					<p class="section-2-paragraph">
						‘If you build it they will come’ is a famous line often misquoted from the film Field of Dreams (it was actually, ‘if you build it <em>he</em> will come’).
					  But just building a website won't bring in the visitors. It needs some interesting content. Well, the content will reflect <em>our</em> interests. Hopefully we'll provide something that you like too.
					</p>
					<p class="section-2-paragraph">
						We've got a number of photographers in the family so undoubtedly we'll take an opportunity to share photographs of Blackpool and its surroundings. If there was something particular you'd like to see included, we might be able to do that.
						We'd like to hear from you. Please <a class="vfb-link general-link" href="mailto:admin@viewfromblackpool.co.uk">email us.</a>
					</p>
					<p class="section-2-paragraph">
						We've got a couple of artists in the family so may share their creations too. They won't necessarily be <em>of</em> Blackpool, but will
						have been created there so hopefully you won't mind if we share them here.
					</p>
					<p class="section-2-paragraph">
						We're interested in trying out different crafts so our attempts will be featured along with our forays into adopting a more sustainable lifestyle.
					</p>
					<p class="section-2-paragraph">
						We're keen on family history too. While our ancestors didn't live in this area, we hope to share some information that may be relevant to other genealogists. We've been researching the local Methodist churches so most of the newspaper stories will relate to those of a Non-conformist background at the outset.
					</p>
					<p class="section-2-paragraph">
						If you can't wait, have a look at these links to find some of our existing efforts:
					</p>
		    </section>
				<section class="section-2-paragraph" id="external links">
					<div>
						<ul class="ul-bulleted-list">
							<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.behance.net/fionaevans1" rel="noopener noreferrer" target="_blank">Our pictures on the Behance website (opens in a new tab)</a></li>
							<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://stock.adobe.com/uk/contributor/210993145/bsk-evans?load_type=author&prev_url=detail" rel="noopener noreferrer" target="_blank">Our pictures on the Adobe Stock website (opens in a new tab)</a></li>
							<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.shutterstock.com/g/BSK+Evans/sets/317709523?rid=337626197" rel="noopener noreferrer" target="_blank">Our paintings on the Shutterstock website (opens in a new tab)</a></li>
							<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.shutterstock.com/g/BSK+Evans/sets/317636635?rid=337626197" rel="noopener noreferrer" target="_blank">Our illustrations on the Shutterstock website (opens in a new tab)</a></li>
						</ul>
					</div>
				</section>
			</main>

	    <%- include('../partials/footer'); %>

		</div>
  </div>
</body>
</html>