<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head-ga'); %>
  <%- include('../partials/head-meta'); %>
	<meta name="keywords"
	      content="accessibility, View From Blackpool">
	<title>Accessibility Statement - View From Blackpool</title>
  <%- include('../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Accessibility Statement</h2>

					<p class="section-2-paragraph">
						We want everyone who visits The View From Blackpool website to feel welcome and find the experience rewarding.
					</p>
					<p class="section-2-paragraph">
						To help us make The View From Blackpool website a positive place for everyone, we've been using the
						<a class="vfb-link general-link" href="https://www.w3.org/TR/WCAG22/" rel="noopener noreferrer" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.2</a>.
						These guidelines explain how to make web content more accessible for people with disabilities, and user friendly for everyone.
					</p>
					<p class="section-2-paragraph">
						The guidelines have three levels of accessibility (A, AA and AAA). We’ve chosen Level AA as the target for
						The View From Blackpool website.
					</p>
					<p class="section-2-paragraph">
						We've worked hard on The View From Blackpool website and believe we've mostly achieved our goal of Level AA accessibility.
					</p>
					<p class="section-2-paragraph">
						However, the video showing our sustainability light swap isn't accessible. To try to mitigate this, I've added a description on the webpage to give some insights into what is being displayed.
					</p>
					<p class="section-2-paragraph">
						The PDF files containing presentations have not yet been checked for accessibility, but we will do that soon.
					</p>
					<p class="section-2-paragraph">
						We monitor the website regularly, but if you do find any problems, please get in touch.
					</p>
					<p class="section-2-paragraph">
						If you enjoyed using The View From Blackpool website, or if you had trouble with any part of it,
						we'd like to hear from you. Please <a class="vfb-link general-link" href="mailto:admin@viewfromblackpool.co.uk">email us.</a>
					</p>
					<p class="section-2-paragraph">This accessibility statement was prepared on 5th November 2022 and reviewed on 27 May 2023.</p>
				</section>
			</main>

	    <%- include('../partials/footer'); %>

		</div>
  </div>
</body>
</html>