<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head-ga'); %>
  <%- include('../partials/head-meta'); %>
	<meta name="keywords"
	      content="family history, gedcom, download, family tree, View From Blackpool">
	<title>Family History - View From Blackpool</title>
  <%- include('../partials/head-links'); %>
</head>

<body>
  <div class="container">

	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Family History Gedcom files</h2>

					<p class="section-2-paragraph">
						Welcome! If you've found this page you must've been invited as there are no links to it on the other pages of this site.
					</p>
					<p class="section-2-paragraph">
						It's not always easy to find a way of sharing family tree files as some sites don't give the option of adding attachments to emails.
						And I don't always upload any changes to my Ancestry.co.uk family tree.
						This is a way of bypassing that.
					</p>
					<p class="section-2-paragraph">
						The link should start a download of a gedcom file containing my family history research. Sorry, but it is rather large because it contains details of a few families and not just the one you're probably seeking.
						If this doesn't quite work as I expect it to, you want more information or would like to see copies of the original documents, please <a class="vfb-link general-link" href="mailto:admin@viewfromblackpool.co.uk">email us.</a>
					</p>
		    </section>
				<section class="section-2-paragraph" id="external links">
					<div>
						<ul class="ul-bulleted-list">
							<li class="li-bulleted-list"><a class="vfb-link general-link" href="documents/HeredisAllFamilyTree-Export.ged" download>Family history gedcom file (24 February 2023)</a></li>
						</ul>
					</div>
				</section>
			</main>

	    <%- include('../partials/footer'); %>
		</div>
  </div>
</body>
</html>