<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head-ga'); %>
	<%- include('../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, pet, hamster, cat, dog, Methodist, history, View From Blackpool">
	<title>View From Blackpool</title>
	<%- include('../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
		  <%- include('../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">What's this all about then?</h2>

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-seedling green" aria-hidden="true"></i>
							<p><a href="/lagom-journey" class="service-heading vfb-link header-link">Our Lagom Journey</a></p>
						</div>
						<div class="service">
							<i class="fa-solid fa-paw grey" aria-hidden="true"></i>
							<p><a href="/pet-adventures" class="service-heading vfb-link header-link">Pet Adventures</a></p>
						</div>
						<div class="service">
							<i class="fa-solid fa-city sand" aria-hidden="true"></i>
							<p><a href="/our-town" class="service-heading vfb-link header-link">Our Town</a></p>
							</i>
						</div>
					</div>
					<p class="section-2-paragraph">
						This will be a space for us to share pictures and some historical snippets about the Fylde Coast.
					</p>
					<p class="section-2-paragraph">
					  We'll share details of our attempts to adopt a more sustainable lifestyle, through participation in Ikea's Live Lagom programme and based on our own ideas and research.
				  </p>
					<p class="section-2-paragraph">
					  We'll also save some space for our pets to air their views on the World and each other. Really. They're very opinionated!
					</p>
					<p class="section-2-paragraph">
						Mostly, it'll be a place for a software developer to practice new techniques and try out new software. The content will grow as the training courses are attempted. So please be patient.
					</p>
		    </section>
			</main>

		  <%- include('../partials/footer'); %>
	  </div>
  </div>
</body>
</html>