<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, Methodist, history, View From Blackpool">
	<title>Our Town - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>
<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

		  <main id="main-content">
			<section class="section-3" id="section-2">
				<h2 class="section-2-heading" id="section-2-heading">Our Town</h2>
				<p class="section-2-paragraph">
					This will be the space where we share pictures and some historical snippets about the Fylde Coast.
				</p>
				<p class="section-2-paragraph">
				  While setting up the now defunct Blackpool Methodist Circuit website, I'd included a section on the history of the churches and always thought that I would restructure it and add some more content.
					That didn't happen. However it seems a shame not to make the history more widely available. I know I benefit from gems that others publish when doing family history research.
					Hopefully others will find this section of interest, when I get around to setting it up.
			  </p>
				<p class="section-2-paragraph">
				  We've got a number of photographers in the family so undoubtedly we'll take an opportunity to share photographs of Blackpool and its surroundings.
				</p>
				<p class="section-2-paragraph">
					We've got a couple of artists in the family so may share their creations too. They won't necessarily be <em>of</em> Blackpool, but will
					have been created there so hopefully you won't mind if we share them here.
				</p>
				<p class="section-2-paragraph">
				  If you can't wait, have a look at these links to find some of our efforts:
				</p>
			</section>
		  <section class="section-2-paragraph" id="external links">
				<div>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.behance.net/fionaevans1" rel="noopener noreferrer" target="_blank">Our pictures on the Behance website (opens in a new tab)</a></li>
						<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://stock.adobe.com/uk/contributor/210993145/bsk-evans?load_type=author&prev_url=detail" rel="noopener noreferrer" target="_blank">Our pictures on the Adobe Stock website (opens in a new tab)</a></li>
						<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.shutterstock.com/g/BSK+Evans/sets/317709523?rid=337626197" rel="noopener noreferrer" target="_blank">Our paintings on the Shutterstock website (opens in a new tab)</a></li>
						<li class="li-bulleted-list"><a class="vfb-link general-link" href="https://www.shutterstock.com/g/BSK+Evans/sets/317636635?rid=337626197" rel="noopener noreferrer" target="_blank">Our illustrations on the Shutterstock website (opens in a new tab)</a></li>
					</ul>
				</div>
			</section>
		</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>