<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, Nikita, adventures, View From Blackpool, cock robin, coffee">
	<title>Cat and Dog Adventures: Killer Queen - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
				<h2 class="section-2-heading" id="section-2-heading">Killer Queen</h2>
					<p class="section-2-paragraph">
						[Jak]: Do you like poems Nikki?
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Erm. I’m not sure. I’ve never tasted one. What are they like?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Oh, Nikki you’re so f…
					</p>
					<p class="section-2-paragraph">
						[Jak]: Ahem. I meant something like the poem, <a class="vfb-link general-link" href="https://www.poetrynook.com/poem/who-killed-cock-robin" rel="noopener noreferrer" target="_blank">Who Killed Cock Robin? (opens in a new tab)</a>.
					</p>

					<p class="section-2-paragraph">
						Who killed Cock Robin? <br />
						I, said the sparrow, <br />
						With my bow and arrow, <br />
						I killed Cock Robin.<br />
					</p>
					<p class="section-2-paragraph">
						[Jak pauses for breath]
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Excuse me! I'm not having a sparrow claiming my kill... of all the cheek!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I want it on record. I killed cock robin and left him by the front door! Our hoomans got a bit of a fright when they were clearing the dead leaves from the path. [Kuma sniggers]
					</p>
					<p class="section-2-paragraph">
						[Jak]: I thought I detected something in that pile but we’re never allowed to linger outside long.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Well you shouldn’t have made a nuisance of yourselves should you. I’m allowed outdoors as often and as long as I want.
					</p>
					<img class="quarter-image" alt="black cat with green eyes and a white patch under her chin, sitting on brick paving." src="images/pets/kuma-sitting.webp">
					<p class="section-2-paragraph">
						[Jak]: It’ll be because they don’t like you as much as me and Nikki and don’t want you hanging around. I’ve heard them complaining about you smelling bad.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: And they have to change clothes and get showered after cuddling her. I’ve seen them!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Yes, well, it's not every time. And I’m still not as gruesome as you. You scoffed old stuff from the compost bin. Vegetables… yuk! And I heard you tried some coughy. They feed you enough. Why do you need to chow down on germs?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Kuma, hang on. Nikki drank some coffee that was left over. It’s a drink. The hoomans love it.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Dad forgot about it when he went off to save...what was it?...erm...an animal in trouble somewhere... He doesn’t mind sharing things with me.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Not that though Nikki. I don’t think it’s good for them, never mind you. It smells dreadful
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Oh well I liked it and it smells better than Kuma!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I can't believe you losers... you call them <em>Dad</em> and <em>Mum</em>? They're <em>staff</em>!
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>