<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Nikita, hunting">
	<title>Cat and Dog Adventures: hunting - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<h2 class="section-2-heading" id="section-2-heading">Oops!...I did it again!</h2>
					<p class="section-2-paragraph">
						[Jak]: Is this a story about one of Nikita's accidents?
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Hey! I resent that! You know I've been <em>going</em> outdoors.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Are we letting her chat on here then?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Doesn't seem like we have much choice...here or anywhere else.
					</p>
					<p class="section-2-paragraph">
					  [Kuma]: Oooh...jealous!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Anyway, it's not about Nikita. This one's all about <em>me</em>. You must have seen my offerings.
					</p>
					<p class="section-2-paragraph">
						[Jak]: You always <em>go</em> outside. That litter tray never gets used. And we'd have noticed if you'd <em>gone</em> anywhere else.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Why are dogs so obsessed with bodily functions?
					</p>
					<p class="section-2-paragraph">
						[Jak and Nikita Together]: And cats!
					</p>
					<img class="quarter-image" alt="Face of a black cat with yellow eyes, looking through wooden stair bannisters" src="images/pets/kuma_stairs.webp">
					<p class="section-2-paragraph">
						[Kuma]: Hmmm. Yes. Well. Anyway.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I've started hunting again. I was quite adept at it when I first arrived, but with the the colder, darker days and nights I didn't fancy it really.
					</p>
					<p class="section-2-paragraph">
						[Jak]: And the fact that you get so well fed. I mean, you get lunch. Me and Niki don't!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Jealous?
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Grrrr!
					</p>
					<p class="section-2-paragraph">
						[Jak]: Don't rise to the bait. Tell us the story then.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I've been leaving some mice around. They're for my humans not you, by the way.
					</p>
					<p class="section-2-paragraph">
						[Jak]: I'm not sure they appreciate it. I've heard the complaints...
					</p>
					<p class="section-2-paragraph">
						[Kuma ignoring Jak]: They're quite easy to catch. I'm fast after all. Have to be...dodging you two...well Nikita anyway.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: But last week I struck lucky and caught a bird. Now they're a challenge. But worth it. Very tasty! I scoffed the lot right by the front door.
					</p>
					<p class="section-2-paragraph">
						[Jak]: We knew something had happened even though we couldn't spot any leftovers. Ew! Did you eat the feathers as well?
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You eat week old sandwiches left in the park. You've no place commenting about my eating habits!
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Hope you didn't get dinner as well after that. that would be...
					</p>
					<p class="section-2-paragraph">
						[Jak and Nikita Together]: Unfair!
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>