<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool">
	<title>Cat and Dog Adventures: (You Gotta) Fight For Your Right (To Party) - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">(You Gotta) Fight For Your Right (To Party)</h2>
					<p class="section-2-paragraph">
						[Kuma]: I sort of get why you both try to chase me and wouldn't be giving me a lot of loving if you ever managed to catch me. But why do I keep hearing a lot of grouching and shouts at other times?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Maybe it was the kids arguing...
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Maybe Dad stood on something...
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Nikki! I thought you'd got used to going outdoors.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Oh yes, I like going for walks now. I can spot loads of cats. Under cars, in driveways, sitting on walls...
					</p>
					<p class="section-2-paragraph">
						[Jak]: Er, no. She means <em>going</em> outside.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You're worse at pussyfooting around things than I am! I thought Dad didn't have to deploy the poo bags inside the house any more.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Actually, he still has to for Noah...but, yeah, Nikki has the occasional accident.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Ew! Dogs!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I <em>know</em> you two fight. I've heard the snarls. I've had to get out of the way of humans running to break up scraps. I've seen the new head gear...
					</p>
					<img class="quarter-image" alt="close up of a small black and white dog's face wearing a black fabric muzzle." src="images/pets/nikki-muzzle.webp">
					<p class="section-2-paragraph">
						[Kuma]: Those muzzles are classy!
					</p>
					<p class="section-2-paragraph">
						[Jak]: You wouldn't like wearing one.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I don't need to. I'm perfectly well behaved.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Right. The humans suspect you of fighting too. You came home with a scratch the other day I heard.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: At least I don't fight with my house mates. Haven't you got used to her yet?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Why blame me? I'm not the one who kicks off...mostly. She gets jealous of the attention I get.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: I get jealous? Why...it's you who starts lunging for me...grrr...
					</p>
					<p class="section-2-paragraph">
						[Jak]: You're too bouncy, pushing in everywhere, getting all the cuddles. Just cos you can jump and climb and...grrr...
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I'm off! Muzzles, please!
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>