<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Liverpool University Small Animal Teaching Hospital">
	<title>Cat and Dog Adventures: standing on one leg - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Standing On One Leg</h2>
					<p class="section-2-paragraph">
						[Kuma]: I didn't know you liked <a class="vfb-link general-link" href="https://www.ninanesbittmusic.com/" rel="noopener noreferrer" target="_blank">Nina Nesbitt (opens in a new tab)</a>.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Her song title just seemed to sum up what I'm going through. I'm going to have to get someone to play it for me.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You do know that this section is supposed to be entertaining. No one wants to hear about sore paws!
					</p>
					<p class="section-2-paragraph">
						[Jak]: I'll try, but this is a big deal for me. I didn't get any breakfast yesterday because of it.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Go on then, but next time we'll post something fun. OK?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Well, when I was adopted, our humans were told that I might have trouble with my knees, something called <a class="vfb-link general-link" href="https://www.pdsa.org.uk/pet-help-and-advice/pet-health-hub/conditions/luxating-patella-in-dogs" rel="noopener noreferrer" target="_blank">luxating patellas (opens in a new tab)</a>.
						So when my leg started to hurt they assumed my knees were the problem.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I've heard you squeal when you try to get up to chase the postman. I thought the postie was getting his own back for you pulling letters out of his hands.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Hah! I had x-rays at the vets before Christmas. That was hard. No breakfast! Being left at the vets for hours! The fur has just grown back in the shaved patch on my front paw.
					</p>
					<p class="section-2-paragraph">
						I thought me and Mum were just going for a drive yesterday, but then we met Dad somewhere I didn't recognise.
						<img class="half-image" alt="Single story, glass fronted brick building with the words Small Animal Teaching Hospital across the top" src="images/pets/sath-neston.webp">
					</p>
					<p class="section-2-paragraph">
						[Kuma]: They took you to a place for <em>small</em> animals?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Don't go there. The nice vet at <a class="vfb-link general-link" href="https://www.liverpool.ac.uk/sath/" rel="noopener noreferrer" target="_blank">Liverpool University's Small Animal Teaching Hospital (opens in a new tab)</a> did mention I needed to lose weight. I'm going to be <em>so</em> hungry!
						And I am small compared to some of the dogs I saw there.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Keep on with the story. I've got some hunting to do.
					</p>
					<p class="section-2-paragraph">
						[Jak]: There was a bit of chatting and I had to walk around the room, well, limp. Then, you know how it is, they grab you and make you stand on a table while someone strange pokes and prods you. I think I gave them all a shock when I couldn't help shouting out in pain.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Good on you. They've got to know if they hurt you.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Then Mum and Dad are leaving me there...
					</p>
					<p class="section-2-paragraph">
						[Kuma]: But they brought you back so don't get upset. I heard them say you had x-rays and a CT scan.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Yes, I had to have a scan as well because the vet found a lump in my neck. Turns out that it's just enlarged salivary glands so don't expect to have the run of the whole house just yet.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I wasn't...I never...I saw you got a nice bandage this time. Lovely blue colour. Must've spotted the Everton badge in Mum's car.
						<img class="half-image" alt="Head and body of a small brown dog, with his front right paw covered in a royal blue bandage" src="images/pets/jak_bandaged_paw.webp">
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Anyway, is it your knees?
					</p>
					<p class="section-2-paragraph">
						[Jak]: I've torn my cruciate ligament. Going for an operation in a few weeks. Just have to have a lot of rest in the meantime. And lose some weight.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Alan Shearer seemed to perform better after he recovered from his anterior cruciate ligament injury.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Who? What?
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I thought you'd watch 'Match of the Day' to keep well in with Mum. Shearer might only talk about football now, but a couple of lifetimes ago he actually played football for Blackburn Rovers.
						He got a similar injury to you, but was back playing the following season and scored more goals than ever.
					</p>
					<p class="section-2-paragraph">
						[Jak]: You know I don't play ball.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: No. I've heard you're uncooperative.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>