<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, catnip">
	<title>Cat and Dog Adventures: Gardening at Night - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Gardening at Night</h2>
					<p class="section-2-paragraph">
						[Jak]: You caused a bit of worry the other day.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: We were tired out having to get up and look out of the window for you, and run around the garden in case you were there, and...
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You know I wouldn't be in the garden if you were out there. Not where you'd see me, of course. Anyway, why were you worried?
					</p>
					<p class="section-2-paragraph">
						[Jak]: I didn't say <em>we</em> were worried. Our humans were concerned about you.
						You were missing for a whole day. They thought you'd run off again or got run over or...
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Has she run away?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Not from here. Don't distract me, Nikki. We want to know why you didn't come home as usual.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: And can we have your meals next time?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Nikki!
					</p>
					<img class="quarter-image" alt="black cat with green eyes and a white patch under her chin, sitting on brick paving." src="images/pets/kuma-sitting.webp">
					<p class="section-2-paragraph">
						[Kuma]: I have places to go, cats to see. I don't need to hang out with you losers all the time.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Come on...Nikki saw you in the flower bed sampling the cat nip.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Yes, well, it'd be churlish not to take advantage now those humans have planted some greenery for me. I <em>might</em> have over-indulged. And it was so hot and so bright. I had to lie low for a bit. And didn't really fancy the same old dish of food those humans offer me.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: I had a look in the flower bed too. The plants didn't do anything for me.
					</p>
					<p class="section-2-paragraph">
						[Jak]: That's why it's called <em>cat</em>nip. It didn't do much for the plants either as you came crashing down through them!
					</p>
					<p class="section-2-paragraph">
						[Jak]: Is that where you hide in the garden then, Kuma?
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I don't need to go to so much trouble to avoid you, Dozy!
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Why don't the humans plant nice things for us?
					</p>
					<p class="section-2-paragraph">
						[Jak]: We're dogs, Nikki. We don't want to eat anything out of the garden...unless it was a cat!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Charming! It'd be too fresh and nice out of the garden. I've seen the pair of you chowing down on dirty weeds growing out of the pavement.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Well, I admit we do take in a bit of grass from time to time to aid our digestion.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Check with your pal, she doesn't just eat the green, wobbly bits. Anything goes for her, dried up, trodden on...
					</p>
					<p class="section-2-paragraph">
						[Jak]: Nikki!
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>