<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Liverpool University Small Animal Teaching Hospital">
	<title>Cat and Dog Adventures: shake a leg - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Shake a Leg</h2>
					<p class="section-2-paragraph">
						[Kuma]: I had a sense of deja vu.
					</p>
					<p class="section-2-paragraph">
						[Jak]: I knew something was up when I got supper...then no breakfast the next morning...and another long road trip with Dad.
					</p>
					<p class="section-2-paragraph">
						I got my other knee fixed.
					</p>
					<img class="half-image" alt="small brown dog wearing a pink plastic cone and inflatable grey collar, lying on an orange blanket on a grey car seat" src="images/pets/jak-cone-collar.webp">
					<p class="section-2-paragraph">
						[Jak]: I'm so glad to be home again. Even with...
					</p>
					<p class="section-2-paragraph">
						[Together]: Nikki!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You rock that haircut! Those vets at at <a class="vfb-link general-link" href="https://www.liverpool.ac.uk/sath/" rel="noopener noreferrer" target="_blank">Liverpool University's Small Animal Teaching Hospital (opens in a new tab)</a>  are great with their clippers.
					</p>
					<img class="half-image" alt="view of a small brown dog's back showing shaved legs and back. The dog is wearing a pink plastic cone and inflatable grey collar, and is lying on a red fleece blanket" src="images/pets/jak-shaved.webp">
					<p class="section-2-paragraph">
						[Jak]: Do you know that some of the kids around our way think I'd had my hair cut as a fashion statement? I don't know what they'll make of two shaved legs.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Ha! It <em>is</em> taking a long time to grow back. Good job it's summer now.
					</p>
					<p class="section-2-paragraph">
						[Jak]: It'd feel cooler...if only I didn't have to wear the cone...and the padded collar...
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Well, you had the cone last time...because you wouldn't behave. Why the extra gear?
					</p>
					<p class="section-2-paragraph">
						[Jak]: I disgraced myself a bit at the hospital by pulling out the staples in my wound. The padded thing stopped me getting anywhere near it again.
					</p>
					<p class="section-2-paragraph">
						I still can't help myself if the collar is removed. It itches, OK.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I heard you went to our vet to have all the staples removed and there were hardly any left.
						Did you eat them? That's nasty.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Says you who eats everything from beak to tail on things you kill.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I'm designed to do that. You're going to regret what you did though.
					</p>
					<p class="section-2-paragraph">
						[Jak]: I'm fine. I'm healing. It won't be long before I can go on walks again.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Weeks, I've heard...just saying...
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>