<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Liverpool University Small Animal Teaching Hospital, cruciate ligament, surgery">
	<title>Cat and Dog Adventures: King of Pain - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<h2 class="section-2-heading" id="section-2-heading">King of Pain</h2>
					<p class="section-2-paragraph">
						The day of Jak’s surgery dawned. After fasting from the previous evening, he headed off with a rumbly tum to <a class="vfb-link general-link" href="https://www.liverpool.ac.uk/sath/" rel="noopener noreferrer" target="_blank">Liverpool University's Small Animal Teaching Hospital (opens in a new tab)</a> with his human Dad. He was quaking with fear as they arrived (Jak, that is), but Dad had to steel himself to leave our pet to receive his treatment for a torn cruciate ligament.
					</p>
					<img class="half-image" alt="page from leaflet showing before and after diagrams and xrays for a dog's cruciate ligament surgery" src="images/pets/sathnotes.webp">
					<p class="section-2-paragraph">
						Reading the leaflet about what took place, it sounds brutal.
					</p>
					<p class="section-2-paragraph">
						Apparently the vets were mindful of Jak being big-boned (ho-hum) and needed to use a sturdier metal plate as part of the surgery.
					</p>
					<p class="section-2-paragraph">
						Updates eventually filtered through. The surgery had been a success and Jak was recovering. Even so, it was an anxious wait until the following day when we could collect him and bring him home.
					</p>
					<p class="section-2-paragraph">
						He was delighted to leave, walking, wearing his ‘cone of shame’ and showing off a shaved rear end.
					</p>
					<img class="small-image" alt="Body, legs and tail of a tan-coloured dog on a grey floor. The dog has a blue bandage on his front paw and a shaved back and rear leg" src="images/pets/jak-hospital.webp">
					<p class="section-2-paragraph">
						Dad had been pleased to hear that Jak had a 8 out of 9 condition rating until the vets indicated that 9 was allocated to the most obese dogs! A score of 8 wasn't much better. A stricter diet would now be in force, made even more important given Jak would have an 8-week long rehabilitation period with limited exercise.
					</p>
					<img class="small-image" alt="Tan-coloured dog, wrapped in a fluffy cream blanket, revealing a shaved back" src="images/pets/jak-bare-skin.webp">
					<p class="section-2-paragraph">
						We hadn’t realised his fur was so thick: a lovely soft white layer, topped by Jak’s trademark tan bristles. Lovely shaving work. Everyone was keen to stroke the smooth skin and remark on the revealed freckles!
					</p>
					<img class="small-image" alt="Leg of a tan-coloured dog with a white dressing on the knee" src="images/pets/jak-bandaged-leg.webp">
					<p class="section-2-paragraph">
						The surgery wounds were concealed by a large dressing, hence the cone to stop little teeth worrying at it.
					</p>
					<img class="quarter-image" alt="Tan-coloured dog, wearing a blue cone, licking a human hand" src="images/pets/jak-cone-medication .webp">
					<p class="section-2-paragraph">
						Jak took it all in his stride (no pun intended). After having cheese and cream rejected as carriers for his paracetamol tablets, we resorted to peanut butter. It's scoffed no matter what is in it. He was more reluctant to take the liquid anti-inflammatory that we had to inject into his mouth, but most of it went down.
					</p>
					<p class="section-2-paragraph">
						However, after being happy to cock his leg in the garden for years, in his post-operative state,  Jak declared it unacceptable as a toilet. He seemed prepared to hold it all in to try to blackmail us into taking him out. And we couldn’t…2 weeks limited access to the garden was the rule. It was a battle but eventually we came to an accommodation.
					</p>
					<p class="section-2-paragraph">
						Just one panic. A few days after his surgery, when resting, he moved, yelped and then couldn’t put his foot on the floor. He was shaking and panting. We were in a flap. Calls to the vet suggested we take him back to the hospital for a check. Late Saturday night. A long journey, but one we were prepared to make.
					</p>
					<p class="section-2-paragraph">
						It was thought he might just have had a twinge in his soft tissue. More pain relief might sort the problem, but we accepted the offer of Jak staying in hospital overnight to be assessed further.
					</p>
					<img class="small-image" alt="Leg of a tan-coloured dog with a surgical wound at the knee" src="images/pets/jak-wound.webp">
					<p class="section-2-paragraph">
						More worry until the call on Sunday morning to say Jak had had a good night and was back on his feet. His wound was healing so well that he no longer needed the dressing. Definitely needed the cone from then on!
					</p>
					<img class="small-image" alt="A tan-coloured dog with a cone around his neck looking through the mesh of a dog crate" src="images/pets/jak-cone.webp">
					<p class="section-2-paragraph">
						He’s been steadily improving since.
					</p>
					<p class="section-2-paragraph">
						Kuma has tried out the new Pawhut pet trailer that we hope will let Jak experience the outside world and prevent boredom, without him having to walk far or require us to indulge in some significant weight lifting efforts.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>