<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, dog, adventures, View From Blackpool, DNA, Nikita, Wisdom Panel">
	<title>Cat and Dog Adventures: DNA - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<h2 class="section-2-heading" id="section-2-heading">DNA</h2>
					<p class="section-2-paragraph">
						When we adopted Jak, as a Jack Russell cross, we'd got him a DNA test. We were getting tests for ourselves and were curious about his heritage too. We'd wondered what he'd been crossed with, apart from a sloth.
					</p>
					<p class="section-2-paragraph">
						As it turned out, he was two-thirds Chihuahua, with contributions from Yorkshire Terriers, Russell Terriers and Miniature Pinschers. And no trace of Corgi as we'd imagined there might be.
					</p>
					<p class="section-2-paragraph">
						So, with a new dog on the block, we acquired another DNA test.
					</p>
					<img class="small-image" alt="face of a small black and white dog with prominent bottom teeth" src="images/pets/Nikita-face.webp">

					<p class="section-2-paragraph">
						Nikita was quite accommodating in allowing us to rub the small bristled brushes around her gums and cheeks.They were packaged up, posted off and we settled down to wait.
					</p>
					<p class="section-2-paragraph">
						It didn't take long for the Wisdom Panel email to drop into my inbox. And even less time for me to open it up and log in to check the results.
					</p>
					<p class="section-2-paragraph">
						They were a surprise! She has 16 breeds in her ancestry!
					</p>
					<p class="section-2-paragraph">
						She's 61% terrier, but it's an eclectic mix of 10 terrier breeds.
					</p>
					<p class="section-2-paragraph">
						She's 35% 'companion' breeds.
					</p>
					<p class="section-2-paragraph">
						With the remaining 4% being made up by the 'sporting' breeds of English Springer Spaniels and Labrador Retrievers. 2% from each. She is very fast so that heritage is coming through.
					</p>
					<p class="section-2-paragraph">
						Nikita's largest DNA block is Pug (31%). The other 'companion' breeds of Papillon and Tibetan Spaniel contribute only 2% each.
					</p>
					<p class="section-2-paragraph">
						And as for the terriers, we have:
					</p>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">Border Terrier - 14%</li>
						<li class="li-bulleted-list">Chihuahua - 12%</li>
						<li class="li-bulleted-list">Parson Russell Terrier - 10%</li>
						<li class="li-bulleted-list">Yorkshire Terrier - 5%</li>
						<li class="li-bulleted-list">Wire Fox Terrier - 5%</li>
						<li class="li-bulleted-list">Lakeland Terrier - 3%</li>
						<li class="li-bulleted-list">Patterdale Terrier - 3%</li>
						<li class="li-bulleted-list">Russell Terrier - 3%</li>
						<li class="li-bulleted-list">Smooth Fox Terrier - 2%</li>
						<li class="li-bulleted-list">Tenterfield Terrier - 2%</li>
						<li class="li-bulleted-list">Sealyham Terrier - 2%</li>
					</ul>
					<p class="section-2-paragraph">
						So all of these
					</p>
					<p class="image-section">
						<img class="small-image" alt="Yorkshire Terrier with long coat and red bow" src="images/pets/dna-yorkshire-terrier.webp">
						<img class="small-image" alt="Papillon with brown face and ears and white body" src="images/pets/dna-papillon.webp">
						<img class="small-image" alt="white and black Smooth Fox Terrier" src="images/pets/dna-smooth-fox-terrier.webp">
						<img class="small-image" alt="pug with black face and cream-coloured body fur" src="images/pets/dna-pug.webp">
					</p>
					<p class="image-section">
						<img class="small-image" alt="golden-coloured labrador retriever" src="images/pets/dna-labrador-retriever.webp">
						<img class="small-image" alt="white Sealyham Terrier" src="images/pets/dna-sealyham-terrier.webp">
						<img class="small-image" alt="white and brown Russell Terrier" src="images/pets/dna-russell-terrier.webp">
						<img class="small-image" alt="brown Lakeland Terrier" src="images/pets/dna-lakeland-terrier.webp">
					</p>
					<p class="image-section">
						<img class="small-image" alt="white and brown Parson Russell Terrier" src="images/pets/dna-parson-russell-terrier.webp">
						<img class="small-image" alt="brown and white Tenterfield Terrier" src="images/pets/dna-tenterfield-terrier.webp">
						<img class="small-image" alt="dark brown and white English Springer Spaniel" src="images/pets/dna-springer-spaniel.webp">
						<img class="small-image" alt="cream-coloured Tibetan Spaniel" src="images/pets/dna-tibetan-spaniel.webp">
					</p>
					<p class="image-section">
						<img class="small-image" alt="face of a brown border terrier" src="images/pets/dna-border-terrier.webp">
						<img class="small-image" alt="black Patterdale Terrier" src="images/pets/dna-patterdale-terrier.webp">
						<img class="small-image" alt="white Wire Fox Terrier, with light brown ears and grey back" src="images/pets/dna-wire-fox-terrier.webp">
						<img class="small-image" alt="front view of a black and cream chihuahua" src="images/pets/dna-chihuahua.webp">
					</p>
					<p class="section-2-paragraph">
						Go to make this little bundle of mischief!
					</p>
					<img class="half-image" alt="small black and white dog, lying on a cushion with a blue ball" src="images/pets/Nikita-and-ball.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>