<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Nikita">
	<title>Cat and Dog Adventures: Nikita - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<h2 class="section-2-heading" id="section-2-heading">Nikita</h2>
					<p class="section-2-paragraph">
						[Kuma]: So what's going on?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Well, my fur's growing back. A bit. They say it feels soft, like velvet. There are even patches of brown hair in places.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You still look bald. Your rear is so bright! It was so easy to follow you all when you went for your walk around the block.
					</p>
					<p class="section-2-paragraph">
						[Jak]: We saw you. Didn't think you'd follow us all the way around.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: You have to make your own entertainment sometimes. It's fun to watch you try to spot me in the gardens or under cars. You didn't go very far anyway.
					</p>
					<p class="section-2-paragraph">
					  [Jak]: Vet's orders! But going on short, local walks is very frustrating, as is being carried home from the park. I must look ridiculous.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Well, I didn't like to say...
					</p>
					<p class="section-2-paragraph">
						[Jak]: I think the folks are a bit worried because I limp a bit. My other knee lets me down at times. Still, I go to get checked over soon so we'll find out more then.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Well, that's all very interesting. Not! I was really asking about...
					</p>
					<p class="section-2-paragraph">
						[Together]: Nikita!
					</p>
					<img class="quarter-image" alt="Face of a small black and white dog, wearing a multi-coloured bandana" src="images/pets/nikita.webp">
					<p class="section-2-paragraph">
						[Kuma]: She's far too interested in my comings and goings. My head hurts from all her barking.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Think about how I feel. I'm with her all day and all night. She barges past me to get to Mum and Dad, Or to get at you! Heh! Heh!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I thought you'd like cuddling up and doing a spot of sniffing...No? Oh, well...Anyway. Why?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Why has she moved in? You know...
					</p>
					<p class="section-2-paragraph">
						[Together]: Dad!
					</p>
					<p class="section-2-paragraph">
						[Jak]: Apparently she needed a new home and Dad couldn't say no. Just be glad he didn't bring the pug along with her.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Do we have to change the name of our section? Will she want to tell her stories too?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Let's leave it for a bit. She's only going to tell everyone about learning to be house trained and how scary the outside world is.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Might be more interesting than you...
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>