<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Liverpool University Small Animal Teaching Hospital, The Sims">
	<title>Cat and Dog Adventures: simply the best - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<h2 class="section-2-heading" id="section-2-heading">Sim-ply the best</h2>
					<p class="section-2-paragraph">
						[Kuma]: Barky McBark Face is at <a class="vfb-link general-link" href="https://www.liverpool.ac.uk/sath/" rel="noopener noreferrer" target="_blank">Liverpool University's Small Animal Teaching Hospital (opens in a new tab)</a>
						right now. About to undergo an operation.
					</p>
					<p class="section-2-paragraph">
						He needs it. I followed him down the road when he went for a walk earlier. There's a reason
						models take to a catwalk...us cats are graceful creatures. Dogs, not so much. And with Jak it's more of a limping waddle.
					</p>
					<p class="section-2-paragraph">
						I'm sure Jak will share the details later. I'm trying not to think about it. Or be worried. It's not good for my image to be concerned about a canine.
					</p>
					<p class="section-2-paragraph">
						Before I curl up for a nap I'll look over some pictures to distract myself.
					</p>
					<p class="section-2-paragraph">
						Did you know that my hoomans have been putting themselves into the thing they call a Pee Ess Floor (I think. I'm <em>sure</em> that's what they call it).
						They've created little versions of themselves in a very fancy house.
					</p>
					<p class="section-2-paragraph">
						I can't believe they didn't want to create any pets. They didn't think they'd be able to look after them properly.
						Jak and I were disappointed. We wanted to explore that place where it always seemed to be sunny and warm. I was sure
						those kids would leave food on the counters in the simulated house.
					</p>
					<p class="section-2-paragraph">
						Next thing we know our electronic counterparts have joined the Sims family, but not as pets. Jak and I are HOOMAN!
						Apparently little brothers and sisters are easier to look after.
					</p>
					<p class="section-2-paragraph">
						They let me have screenshots. Sorry that they look a bit psychedelic. I have to say, I look good.
					</p>
					<img class="small-image" alt="Screenshot of a small girl figure from The Sims, wearing a bucket hat, smock and leggings" src="images/pets/human-kuma.webp">
					<p class="section-2-paragraph">
						I think they've captured Jak's portly essence too.
					</p>
					<img class="small-image" alt="Screenshot of a small boy figure from The Sims, wearing short yellow dungarees and a white t-shirt" src="images/pets/human-jak.webp">
					<p class="section-2-paragraph">
						Poor hooman Jak...
					</p>
					<p class="section-2-paragraph">
						The real Jak is spoilt. Not that I'm bitter about that. But the hooman Jak was taken into care by the Sim authorities because his electronic
						siblings didn't look after him well enough.
					</p>
					<p class="section-2-paragraph">
						Hooman Kuma is still strutting her stuff...rather like Tina...'Simply the Best'...well, I am...
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>