<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, adventures, View From Blackpool, Liverpool University Small Animal Teaching Hospital, cruciate ligament, surgery, Nikita">
	<title>Cat and Dog Adventures - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-paw purple" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-standing-on-one-leg" class="service-heading vfb-link header-link">Standing on one leg</a></p>
							<p class="service-paragraph">About Jak's first visit to hospital</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-cat black" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-simply-the-best" class="service-heading vfb-link header-link">Sim-ply the best</a></p>
							<p class="service-paragraph">Kuma's views on their Sims alter egos</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-dog brown" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-king-of-pain" class="service-heading vfb-link header-link">King of Pain</a></p>
							<p class="service-paragraph">About Jak's knee surgery</p>
						</div>
					</div>

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-paw grey" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-nikita" class="service-heading vfb-link header-link">Nikita</a></p>
							<p class="service-paragraph">About a new dog in the household</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-paw grey" aria-hidden="true"></i>
							<p><a href="/nikita" class="service-heading vfb-link header-link">Introducing Nikita</a></p>
							<p class="service-paragraph">All about Nikita</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-cat red" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-hunting" class="service-heading vfb-link header-link">Oops!...I did it again!</a></p>
							<p class="service-paragraph">About Kuma's hunting prowess</p>
						</div>
					</div>

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-paw black" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-dna" class="service-heading vfb-link header-link">DNA</a></p>
							<p class="service-paragraph">The results of Nikita's DNA test</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-paw brown" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-shake-a-leg" class="service-heading vfb-link header-link">Shake a Leg</a></p>
							<p class="service-paragraph">Another op for Jak</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-dog brown" aria-hidden="true"></i><i class="fa-solid fa-dog fa-flip-horizontal black"></i>
							<p><a href="/cat-and-dog-adventures-fights" class="service-heading vfb-link header-link">(You Gotta) Fight For Your Right (To Party)</a></p>
							<p class="service-paragraph">Occasional dog fights</p>
						</div>
					</div>

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-paw black" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-gardening-at-night" class="service-heading vfb-link header-link">Gardening at Night</a></p>
							<p class="service-paragraph">Discovering the cat nip</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-circle-question black" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures-killer-queen" class="service-heading vfb-link header-link">Killer Queen</a></p>
							<p class="service-paragraph">Who really killed Cock Robin</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-circle-question black" aria-hidden="true"></i>
							<p><a href="" class="service-heading vfb-link header-link">Another adventure</a></p>
							<p class="service-paragraph">coming soon</p>
						</div>
					</div>


					<h2 class="section-2-heading" id="section-2-heading">Killer Queen</h2>
					<p class="section-2-paragraph">
						[Jak]: Do you like poems Nikki?
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Erm. I’m not sure. I’ve never tasted one. What are they like?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Oh, Nikki you’re so f…
					</p>
					<p class="section-2-paragraph">
						[Jak]: Ahem. I meant something like the poem, <a class="vfb-link general-link" href="https://www.poetrynook.com/poem/who-killed-cock-robin" rel="noopener noreferrer" target="_blank">Who Killed Cock Robin? (opens in a new tab)</a>.
					</p>

					<p class="section-2-paragraph">
						Who killed Cock Robin? <br />
						I, said the sparrow, <br />
						With my bow and arrow, <br />
						I killed Cock Robin.<br />
					</p>
					<p class="section-2-paragraph">
						[Jak pauses for breath]
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Excuse me! I'm not having a sparrow claiming my kill... of all the cheek!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I want it on record. I killed cock robin and left him by the front door! Our hoomans got a bit of a fright when they were clearing the dead leaves from the path. [Kuma sniggers]
					</p>
					<p class="section-2-paragraph">
						[Jak]: I thought I detected something in that pile but we’re never allowed to linger outside long.
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Well you shouldn’t have made a nuisance of yourselves should you. I’m allowed outdoors as often and as long as I want.
					</p>
					<img class="quarter-image" alt="black cat with green eyes and a white patch under her chin, sitting on brick paving." src="images/pets/kuma-sitting.webp">
					<p class="section-2-paragraph">
						[Jak]: It’ll be because they don’t like you as much as me and Nikki and don’t want you hanging around. I’ve heard them complaining about you smelling bad.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: And they have to change clothes and get showered after cuddling her. I’ve seen them!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: Yes, well, it's not every time. And I’m still not as gruesome as you. You scoffed old stuff from the compost bin. Vegetables… yuk! And I heard you tried some coughy. They feed you enough. Why do you need to chow down on germs?
					</p>
					<p class="section-2-paragraph">
						[Jak]: Kuma, hang on. Nikki drank some coffee that was left over. It’s a drink. The hoomans love it.
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Dad forgot about it when he went off to save...what was it?...erm...an animal in trouble somewhere... He doesn’t mind sharing things with me.
					</p>
					<p class="section-2-paragraph">
						[Jak]: Not that though Nikki. I don’t think it’s good for them, never mind you. It smells dreadful
					</p>
					<p class="section-2-paragraph">
						[Nikita]: Oh well I liked it and it smells better than Kuma!
					</p>
					<p class="section-2-paragraph">
						[Kuma]: I can't believe you losers... you call them <em>Dad</em> and <em>Mum</em>? They're <em>staff</em>!
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>