<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, dog, Jak, Dogs Trust, chihuahua, View From Blackpool">
	<title>Meet Jak - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<div class="pseudo-table-container margin-top">
						<div class="pseudo-table-key-cell">Name:</div>
						<div class="pseudo-table-value-cell">Jak</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Age:</div>
						<div class="pseudo-table-value-cell">8 years</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Date joined the household:</div>
						<div class="pseudo-table-value-cell">November 2019 (from Dogs Trust)</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Nicknames:</div>
						<div class="pseudo-table-value-cell">Chungus</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Previous name:</div>
						<div class="pseudo-table-value-cell">Fudge?</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Fur colour:</div>
						<div class="pseudo-table-value-cell">Tan</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Eye colour:</div>
						<div class="pseudo-table-value-cell">Brown</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Likes:</div>
						<div class="pseudo-table-value-cell">Eating, sleeping, barking</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Dislikes:</div>
						<div class="pseudo-table-value-cell">Cats, diets, baths</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Favourite meal:</div>
						<div class="pseudo-table-value-cell">Anything that isn't designated as 'dog food'</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">If I wasn't a dog I'd be:</div>
						<div class="pseudo-table-value-cell">A sloth...what's the hurry?</div>
					</div>

					<img class="quarter-image margin-top" alt="Brown Jack Russell type dog lying in a grey dog bed with both front paws on the floor" src="images/pets/jak.webp">

					<p class="section-2-paragraph margin-top">
						I was staying at <a href="https://www.dogstrust.org.uk/rehoming/our-centres/merseyside" class="vfb-link general-link" rel="noopener noreferrer" target="_blank">Dogs Trust in Huyton</a> when I first met my human family.
					</p>
					<p class="section-2-paragraph">
						I'd just been renamed 'Jak' because Dogs Trust thought I was a Jack Russell Cross and for some reason thought the name 'Fudge' wasn't attractive. Tell that to all the sweet-toothed holiday makers on the promenade.
						My new name took a bit of getting used to, but I think it suits me. And well, it's supposed to mean "God is gracious; he who supplants" and I definitely think I'm more highly regarded than those child humans in the house. Just saying...
					</p>
					<p class="section-2-paragraph">
						Anyway, at Dogs Trust, my family tried walking that big lump of a hound, Bruno, and decided he was too much of a handful. They liked the look of the incontinent chihuahuas, but decided they couldn't cope with that even if they would like to change the carpet.
					</p>
					<p class="section-2-paragraph">
					  I ticked all their boxes and they ticked all of Dogs Trusts'. So I moved to Blackpool. There had been suggestions that I was an 'escape artist' and didn't like being picked up. Who me? I wasn't going to quit my forever home and
					  I'd much rather be carried than have to walk! I've got an excuse for that, I really have. I've got a sore knee.
					</p>
					<p class="section-2-paragraph">
						Not long after I joined the family, my humans decided to get my DNA tested. They thought I might be a cross between a Jack Russell and a Corgi. They got a bit of a surprise when the results came back.
						I'm two-thirds Chihuahua, with a bit of Yorkshire Terrier, Russell Terrier and Miniature Pinscher. Yes, I'm a bit big for a Chihuahua, but don't be size-ist!
					</p>
					<p class="section-2-paragraph">
						Things were going great. Noah the Python wasn't really a rival for the position of best pet. But then that conniving feline turned up. I'll let her introduce herself.
						She gets far more attention than she should so don't spend too much time reading her introduction. Come back and find out more about me.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>