<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, Kuma, View From Blackpool">
	<title>Meet Kuma - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">

				<section class="section-2" id="'section-2">
					<div class="pseudo-table-container margin-top">
						<div class="pseudo-table-key-cell">Name:</div>
						<div class="pseudo-table-value-cell">Kuma</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Age:</div>
						<div class="pseudo-table-value-cell">3 years (but who's counting)</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Date joined the household:</div>
						<div class="pseudo-table-value-cell">26 June 2022</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Nicknames:</div>
						<div class="pseudo-table-value-cell">Dark Furry Overlord, Katten</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Previous name:</div>
						<div class="pseudo-table-value-cell">Patch</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Fur colour:</div>
						<div class="pseudo-table-value-cell">Black</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Eye colour:</div>
						<div class="pseudo-table-value-cell">Yellow</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Distinguishing marks:</div>
						<div class="pseudo-table-value-cell">Small patch of white fur under my chin</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Likes:</div>
						<div class="pseudo-table-value-cell">Freedom to roam, eating, sock drawers</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Dislikes:</div>
						<div class="pseudo-table-value-cell">dogs, most other cats, treats bought at the church fete</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Favourite meal:</div>
						<div class="pseudo-table-value-cell">Something fishy and lots of it</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">If I wasn't a cat I'd be:</div>
						<div class="pseudo-table-value-cell">A hobbit...they get a satisfactory number of meals a day. Three meals isn't enough, humans!</div>
					</div>

					<img class="quarter-image margin-top" alt="Face of a black cat looking towards the camera, yellow eyes slightly narrowed" src="images/pets/kuma.webp">

				  <p class="section-2-paragraph margin-top">
					  So I'm a free spirit. Yes, I admit I had a comfortable home with potential playmates, but I just couldn't get along with the other cats.
					  And those dogs didn't like me teasing them. They were no fun at all! So I hit the road. Well, the same few roads over and over again if I'm honest.
					</p>
					<p class="section-2-paragraph">
					  Eventually I found myself in a garden full of young humans with access to tins of tuna and packs of ham. It seemed churlish to refuse. I visited. And then kept visiting.
					  Cat food and treats were being added to the menu. Do I look like a fool? Of course I went back.
					</p>
					<p class="section-2-paragraph">
					  One day a <a href="https://www.facebook.com/homewardbound01/" class="vfb-link general-link" rel="noopener noreferrer" target="_blank">Homeward Bound</a> lady turned up to check my chip. It's not one I could've eaten otherwise it would've been long gone.
					</p>
					<p class="section-2-paragraph">
            So everyone then knew I was 'Patch', a runaway, a so-called troublemaker.
					</p>
					<p class="section-2-paragraph">
					  Even so, the next thing I know, I'm the newest member of the family. The cat transfer window must've been open. So I got to stay as 'Kuma', with the adoration of my new Humans and just one dog to tease.
					</p>
					<p class="section-2-paragraph">
					  It's not a perfect world. There's a lumbering fool watching out for me all the time. No, not you, Human Dad. I meant Jak. The DOG!
					</p>
					<p class="section-2-paragraph">
						I'll let him introduce himself.
					  Don't be taken in by him. He's not as smart as he thinks. If I had a dish of food for every time he's walked right past me when I've been sitting in the shadows, I'd be fatter than him. And just so you know, that's impossible.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>