<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, cat, dog, Kuma, Jak, View From Blackpool">
	<title>The Misadventures of Kuma and Jak - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<div class="services">
						<div class="service">
							<i class="fa-solid fa-cat black" aria-hidden="true"></i>
							<p><a href="/kuma" class="service-heading vfb-link header-link">Introducing Kuma</a></p>
						</div>
						<div class="service">
							<i class="fa-solid fa-paw purple" aria-hidden="true"></i>
							<p><a href="/cat-and-dog-adventures" class="service-heading vfb-link header-link">Cat and Dog Adventures</a></p>
						</div>
						<div class="service">
							<i class="fa-solid fa-dog brown" aria-hidden="true"></i>
							<p><a href="/jak" class="service-heading vfb-link header-link">Introducing Jak</a></p>
						</div>
					</div>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>