<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, dog, Nikita, terrier, View From Blackpool">
	<title>Meet Nikita - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<div class="pseudo-table-container margin-top">
						<div class="pseudo-table-key-cell">Name:</div>
						<div class="pseudo-table-value-cell">Nikita</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Age:</div>
						<div class="pseudo-table-value-cell">6 years</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Date joined the household:</div>
						<div class="pseudo-table-value-cell">February 2023</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Nicknames:</div>
						<div class="pseudo-table-value-cell">Nikki</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Fur colour:</div>
						<div class="pseudo-table-value-cell">White, with some black patches</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Eye colour:</div>
						<div class="pseudo-table-value-cell">Black</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Likes:</div>
						<div class="pseudo-table-value-cell">Barking, chasing cats, playing with toys</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Dislikes:</div>
						<div class="pseudo-table-value-cell">Jak - when he gets too much attention</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">Favourite snack:</div>
						<div class="pseudo-table-value-cell">Banana; anything that Jak's having</div>
					</div>
					<div class="pseudo-table-container">
						<div class="pseudo-table-key-cell">If I wasn't a dog I'd be:</div>
						<div class="pseudo-table-value-cell">Advertising toothpaste. I love showing off my teeth - Nature made me that way.</div>
					</div>

					<img class="quarter-image" alt="Face of a small black and white dog, wearing a multi-coloured bandana" src="images/pets/nikita.webp">

					<p class="section-2-paragraph margin-top">
						I was living with some different people when I first met my new human Dad. They had some problems so they agreed that I could go and live with a new family.
					</p>
					<p class="section-2-paragraph">
						That was strange, being bundled into a car and taken to a different house where I was suddenly surrounded by a lot of new faces. Plenty of cuddles on offer so that was reassuring.
					</p>
					<p class="section-2-paragraph">
						I wasn't used to being out and about or meeting different people, but I had to get used to it. My new family like walks and weren't really keen on me using their house as a toilet. I wanted to get my jaunts over and done with as quickly as possible, but my new friend doesn't allow that.
						Jak is slow and likes to sniff <em>everything</em>! Now I've been living with him for a few months I'm coming around to the idea and enjoy a few sniffs along with him.
					</p>
					<p class="section-2-paragraph">
						When I say 'with him', I mean when I'm on the same walk as him. He's not my BFF or anything. We tolerate each other at best and can indulge in the odd brawl if one of us gets more attention than the other or...who knows...it doesn't take much to set us off.
						Our humans are hoping we'll get used to each other.
					</p>
					<p class="section-2-paragraph">
						They're hoping I'll get used to Kuma the cat as well, but it's so much fun to chase her. Every time I go in the garden I have to check all her favourite places to see whether she's lounging around...even if everyone tells me she's actually indoors.
					</p>
					<p class="section-2-paragraph">
						Since my arrival in the household, I've had a grooming session. They said I didn't smell too good, which was just rude!
					</p>
					<p class="section-2-paragraph">
					  I've had to go to the vet to get checked and have injections. They said I was very brave.
					</p>
					<p class="section-2-paragraph">
					  And they took me to meet my human Grandma. They said it mightn't happen too often as I got car sick. Who knew!
					</p>
					<p class="section-2-paragraph">
						I've got used to eating different things, going for walks and meeting other dogs. I love patrolling the windowsills and keeping guard for my family.
					</p>
					<p class="section-2-paragraph">
						My humans decided to get my DNA tested last week. Getting swabs rubbed around my cheek and gums wasn't fun, but they're curious so I went along with it. They think I'm mostly Jack Russell, but are sure there is some other breed in my ancestry too.
            Come back soon and find out the results.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>