<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta name="keywords"
	      content="Blackpool, pet, hamster, cat, dog, hamsterdays, View From Blackpool">
	<title>Our Pet Adventures - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a href="#main-content" class="skip-link">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Our Pet Adventures</h2>

					<div class="services">
						<div class="service">
							<i class="fa-solid fa-seedling green" aria-hidden="true"></i>
							<p><a href="hamsterdaysfiles/index.html" class="service-heading vfb-link header-link" rel="noopener noreferrer" target="_blank">Hamster Days Blog</a></p>
							<p class="service-paragraph">(opens in a new tab)</p>
						</div>
						<div class="service">
							<i class="fa-solid fa-paw grey" aria-hidden="true"></i>
							<p><a href="/kuma-and-jak" class="service-heading vfb-link header-link">The Misadventures of Kuma and Jak</a></p>
						</div>
					</div>
					<p class="section-2-paragraph">
						The Hamster Days blog ran for a couple of years as a way of practising basic web development skills and entertaining a handful of visitors to the site. Oh alright then, just my husband.
						Although Milku has gone to the great hamster wheel in the sky, <em>his</em> opinions live on and I've brought them under the umbrella of the new site.
					  The look and feel of the pages won't relate to the rest, but hopefully you'll forgive that. Changing the set up probably wouldn't go well.
				  </p>
					<p class="section-2-paragraph">
					  At some point in the future we're going to give our current pets an opportunity to air their views on the World and each other. Really. They're very opinionated!
					</p>
					<p class="section-2-paragraph">
						We'll soon introduce you to Jak, our pleasantly plump rescue dog whose DNA test results suggest he's a mix of chihuahua, Yorkshire terrier, and other assorted terrier breeds, but whose figure suggests corgi and Jack Russell.
					</p>
					<p class="section-2-paragraph">
						Then there's our dark furry overlord, Kuma. This feisty black cat adopted us in the summer of 2022 and she's been getting us to do her bidding ever since.
					</p>
					<p class="section-2-paragraph">
						It's safe to say that there's a certain tension to Jak and Kuma's cohabitation. They don't even agree on their views about Noah, the Royal Python. Jak isn't interested while Kuma would love to get better acquainted.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>
	  </div>
  </div>
</body>
</html>