<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool"
	      name="keywords">
	<title>Our Lagom Journey - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Our Lagom Journey</h2>

					<div class="services">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-seedling green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom">Live Lagom</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-paw grey"></i>
							<p><a class="service-heading vfb-link header-link" href="/other-sustainability">Other Sustainability Ideas</a></p>
						</div>
					</div>
					<p class="section-2-paragraph">
						This year we're officially joining <a
							class="vfb-link general-link"
							href="https://www.ikea.com/gb/en/this-is-ikea/sustainable-everyday/ikea-live-lagom-community-pub8d845141" rel="noopener noreferrer" target="_blank">Ikea's Live Lagom Community (opens
						in a new tab)</a>.
						We'll be sharing what we've learned here.
					</p>
					<p class="section-2-paragraph">
						Live Lagom won't be the first time we've tried to introduce more environmentally friendly, sustainable
						practices into our lives.
						Some of our efforts for the WildLife Trust's 30 Day's Wild were recorded on our
						<a class="vfb-link general-link"
						   href="hamsterdaysfiles/html/oldPosts.html"
						   rel="noopener noreferrer"
						   target="_blank">Hamster Days blog (opens in a new tab)</a>.
						You'll need to look at the updates for June 2017.
					</p>
					<p class="section-2-paragraph">
					And we do pick up other ideas along the way that we try out.
					</p>
					<p class="section-2-paragraph">
						We're contemplating a bit of natural dying and rag rug making after being inspired by a workshop at a recent
						Wildlife Trust Supporters' Day and thanks to the unexpected acquisition of several old tablecloths.
						The same Supporters' Day also demonstrated wildlife pond making so, who knows, you might be able to follow us
						trying that. It'll all be here whatever we attempt.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>