<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, cosy homes, workshop"
	      name="keywords">
	<title>Live Lagom Cosy Homes - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">

	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Forget Hygge, Lagom does Cosy Homes too!</h2>

					<p class="section-2-paragraph">
						The first workshop in the Lagom programme concentrated on ‘Cosy Homes’, quite topical now the weather is turning wintry and utility bills are rocketing.
					</p>
					<p class="section-2-paragraph">
						Being cosy isn’t just about turning up the heating thermostat. Part of it is mind over matter, but try to conserve any heat you do have in a room.
					</p>

					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">Curtains or blinds can limit heat loss and prevent draughts through windows.</li>
						<li class="li-bulleted-list">Rugs can limit draughts through gaps in wooden floors and, even on carpeted surfaces, can feel sumptuous between your toes and make a room feel cosier.</li>
						<li class="li-bulleted-list">Add a draught excluder to the door.</li>
					</ul>

					<p class="section-2-paragraph">
						Making a draught excluder from surplus or unwanted textiles was the workshop’s practical challenge. The photos of my effort are shown below. It can be as difficult or as basic as you prefer provided it does the job.
						We're hoping ours will limit the light pollution from the landing into one of the bedrooms and prevent the chill from the ever-open windows in that room being shared throughout the house.
						<img class="full-image" alt="From a chair cover to a draught excluder. Five images showing the initial grey fabric cushion cover, a double roll excluder, with button decorations and the draught excluder from different perspectives when fitted on a wooden door." src="images/lagom/draught-excluder.webp">
					</p>

					<p class="section-2-paragraph">
						Interior design experts seem to agree that cosiness is dependent on having an environment that is intimate and enclosed, with plenty of tactile materials, gentle lighting and home decor that is comfortable and evokes happy memories. Texture, colour and lighting are key.
					</p>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">Have cosy extra layers available like throws to drape over knees or around shoulders.</li>
						<li class="li-bulleted-list">Upholstered furniture or extra cushions promote a sense of comfort.</li>
						<li class="li-no-bullet-list">Experts suggest we should look for tactile textiles: velvet, linen and wool all have a cosy quality. The tassels on a throw can make it seem scarf like, a design that makes you think of warming layers.</li>
						<li class="li-bulleted-list">Wall and accessory colours can have an impact on how cosy or welcoming your home can feel. Apparently, warmer tones are creams, taupes, oranges, reds and darker greens. Hmmm… I’ll stick with blues and add a few extra clothing layers or else will be warmed by (distant) memories of Everton's footballing successes!</li>
						<img class="half-image" alt="Roaring fire in the stone fireplace of a log cabin, with upholstered furniture, cushions and throws in the foreground." src="images/lagom/cosy-fireplace.webp">

						<li class="li-bulleted-list">Find a warming focal point for your room, a fireplace, if you have it. You don’t even have to light it. A curated log display and the promise of heat can sometimes be enough.</li>

						<li class="li-no-bullet-list">Try a cluster of lanterns and candles to get the same sense of natural heat if you don’t have a fireplace.</li>

						<img class="half-image" alt="A cluster of lit candles and ornaments on a table in front of a corner seat covered in cushions" src="images/lagom/cosy-candles.webp">

						<li class="li-no-bullet-list">One fellow Lagomer told us she’d played a recording of a log fire on her TV and lit bonfire scented candles. Who knew they were a thing?! Even though the room was no warmer than usual, the family perceived that there was a heat source in the room and felt hot.</li>
						<img class="half-image" alt="Large flat screen TV showing an image of a real fire" src="images/lagom/tv-fire.webp">

						<li class="li-bulleted-list">Fragrance has a big part to play in creating restful and cosy homes. Your rooms don’t need to smell like November 5th. Other scents can provide comfort and a sense of cosiness. There are endless options in terms of candles, room sprays and reed diffusers. The smells of baking or coffee brewing might work too.</li>
						<li class="li-bulleted-list">Low level lighting seems to be the key to cosiness. Could you turn off your overhead lights and use lamps? Switch to dimmable bulbs so you can adjust the lighting to your mood or activity? Candle light can create a cosy ambience.</li>
						<img class="half-image" alt="Cosy living room, with upholstered furniture with low level lighting provided by lamps" src="images/lagom/cosy-lamps.webp">
						<li class="li-bulleted-list">Being surrounded by your favourite things will provide comfort too. Books? Photos? Plants? Collectibles? Whatever makes you happy.</li>

					</ul>

					<p class="section-2-paragraph">
						I suppose a lot of this is hygge-inspired so a fusion of Scandinavian ideas is probably the way to go. Why not embrace them all.
					</p>
			  </section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>