<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Christmas, workshop"
	      name="keywords">
	<title>Live Lagom Christmas - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">

	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">It’s Beginning to Look a Lot Like (a Sustainable) Christmas</h2>

					<p class="section-2-paragraph">
						Our second Live Lagom workshop was all about celebrating festivities in a sustainable way. We had Christmas in our sights, but some of the things we learned could apply to other holidays and celebrations.
					</p>
					<p class="section-2-paragraph">
					  The downloadable <a class="vfb-link general-link" href="documents/Live_Lagom_Sustainable_Christmas.pdf" download>Live Lagom Sustainable Christmas powerpoint presentation</a> includes some interesting ideas about how have a greener Christmas and details some crafts.
					</p>

					<p class="section-2-paragraph">
						Every January I plan to relocate our artifical Christmas tree to a charity shop, but every December it appears once more in its full gaudy glory. But as it's approaching its twentieth birthday, I suppose I can accept it as being reasonably Lagom.
					</p>
					<p class="section-2-paragraph">
					A sustainably grown real tree would be nicer. While it might prove too great a temptation for our dog, Jak, we could be doing our bit for the <a class="vfb-link general-link" href="https://www.lancswt.org.uk/our-work/projects/fylde-sand-dunes" rel="noopener noreferrer" target="_blank">Fylde Sand Dunes Project (opens in a new tab)</a>, which uses old Christmas trees in its coastal defences.
					</p>
					<p class="section-2-paragraph">
						We do already have a couple of potted Christmas trees in the garden that we could bring indoors...in a few years when they'd make more of an impact. We'd have more immediate success with decorating branches...we do have an unproductive apple tree that we wouldn't miss...
					</p>
					<p class="section-2-paragraph">
						So, you've given in and accepted the clamour for a Christmas tree and decked it out in energy-efficient LED lights. Do you re-use the decorations you've got, buy more second-hand or make some? We've got a crateful of baubles and bits so no need for us to extend our collection, but I did try crafting a few items from unwanted items to make a sustainability noticeboard in work more festive.
					</p>
					<p class="section-2-paragraph">
						Snowmen are easy to make. Try painting the inside of a spice jar white. Add a bit of felt around the lid as a hat brim. Ribbon or more felt can become a scarf and the end of a pen is perfect as a carrot. Or you can glue empty coffee pods together and paint in the required features.
					</p>
					<p class="image-section">
					  <img class="quarter-image" alt="Two snowmen decorations, one made from an old spice jar and one made from multiple coffee pods" src="images/lagom/snowmen.webp">
					  <img class="quarter-image" alt="Painted stars made from lollipop sticks" src="images/lagom/lolly-stick-stars-2.webp">
					</p>
					<p class="section-2-paragraph">
						Excessive indulgence in ice lollies can be hidden by gluing the sticks together and painting them to make festive stars. OK, so ours weren't in the usual Christmassy colours, but that's the paint we had!
					</p>
					<p class="section-2-paragraph">
						 The plastic insides from Kinder eggs are a perfect base for making Minions. Just add eyelets and paint, with maybe a bit of felt for hands.
						<img class="half-image" alt="Three minion figures made from plastic Kinder eggs" src="images/lagom/minions.webp">
					</p>
					<p class="section-2-paragraph">
						And if you've already gone plastic-free, the natural world can offer materials to make Christmas decorations.
						Paint some pine cones or enhance some pieces of driftwood.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="Pine cones coloured with multi-coloured paint" src="images/lagom/pine-cones.webp">
						<img class="small-image" alt="Piece of driftwood, with painted eyes and a gold collar, made to resemble an animal" src="images/lagom/driftwood-decoration.webp">
					</p>
					<p class="section-2-paragraph">
						You could also try edible decorations such as strings of popcorn or ginger biscuits. Having had all the chocolate decorations eaten in one mad half hour several years ago, nothing edible will be appearing on our tree!
					</p>
					<p class="section-2-paragraph">
						Our Live Lagom workshop encouraged us to <a class="vfb-link general-link" href="https://typicallysimple.com/fabric-rag-wreath-tutorial/" rel="noopener noreferrer" target="_blank">make rag wreaths (opens in a new page)</a> from scrap textiles. Simple to make and quite effective. You don't even need a proper wreath wire if you can bend a wire coat hanger into a rough circle.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="Pale cream coloured rag wreath with an inquisitive brown dog" src="images/lagom/rag_wreath_1.webp">
						<img class="quarter-image" alt="Festive red and green rag wreath" src="images/lagom/rag_wreath_2.webp">
					</p>
					<p class="section-2-paragraph">
						Merry Christmas! <span lang="sv">God Jul!</span>
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>