<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Get Growing, workshop, seeds, seed bomb"
	      name="keywords">
	<title>Live Lagom Seed Bombs - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Making Seed Bombs</h2>

					<p class="section-2-paragraph">
						Sometimes associated with 'guerrilla gardening' and spreading flowers into unclaimed public spaces, seed bombs can also be useful at home to sow seeds in inaccessible parts of the garden, at the back of borders or amongst established plants.
					</p>
					<p class="section-2-paragraph">
						You <em>can</em> buy them, but, for the same price, you can make many more and tailor them to your exact requirements.
					</p>
					<p class="section-2-paragraph">
						And for those who have no idea what a 'seed bomb' is...they're simply plant seeds, rolled within a ball of materials that assist germination and bind everything together. Clay is commonly used, but we tried a mixture of compost and flour.
					</p>
					<p class="section-2-paragraph">
						The items you need to gather are:
					</p>
					<ul class="ul-bulleted-list">
						<li class="li-bulleted-list">5 cups of compost</li>
						<li class="li-bulleted-list">2 or 3 cups of plain flour</li>
						<li class="li-bulleted-list">1 cup of seeds</li>
						<li class="li-bulleted-list">water</li>
						<li class="li-bulleted-list">mixing bowl</li>
					</ul>
					<p class="section-2-paragraph">
						Combine the compost and flour in the mixing bowl.
					</p>
					<img class="small-image" alt="flour being poured into an orange cup held over a bowl full of compost" src="images/lagom/making-seed-bombs-flour.webp">
					<p class="section-2-paragraph">
						Add the seeds and mix.
					</p>
					<img class="small-image" alt="seeds being poured from an orange cup onto a bowl full of compost" src="images/lagom/making-seed-bombs-seeds.webp">
					<p class="section-2-paragraph">
						Gradually add water and mix until you have a substance that can be easily moulded.
					</p>
					<img class="small-image" alt="hands wearing purple vinyl gloves mixing compost while water is being sprayed from a bottle" src="images/lagom/making-seed-bombs-mixing.webp">
					<p class="section-2-paragraph">
						Then the fun begins. Grab some of the mixture. The amount is up to you and depends how large you want your seed bombs to be. Anything goes!
					</p>
					<img class="quarter-image" alt="hands wearing purple vinyl gloves holding a seed bomb above a bowl of compost mixture" src="images/lagom/making-seed-bombs-moulding.webp">
					<p class="section-2-paragraph">
						It was suggested that we left the seed bombs to dry on the surface, but not to let them dry out completely. Obviously, any you'd buy would be dry throughout so you could take a chance...
					</p>
					<p class="section-2-paragraph">
						Rather than throwing my seed bomb into the farthest corner of the garden and hoping for the best, I decided to choose a location that I thought might not be disturbed by our pets. I dug a small hole, placed the seed bomb within and watered it.
					</p>
					<img class="quarter-image" alt="dry seed bomb at the bottom of a hole in some garden soil" src="images/lagom/seed-bomb-planted.webp">
					<p class="section-2-paragraph">
						Add now I'm waiting. I think we used an assortment of wildflower seeds so who knows what will appear.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>