<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Waste Not Want Not, workshop, challenge, meal planning"
	      name="keywords">
	<title>Live Lagom Meal Planning Challenge - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Week 3 Challenge: Meal Planning</h2>

					<p class="section-2-paragraph">
						The Waste Not, Want Not Week 3 challenge requires us to embrace the art of meal planning.
					</p>
					<p class="section-2-paragraph">
						Apparently, meal planning is a great way to save time and money, encourage healthy eating, and reduce stress around cooking. It’s not a complicated activity, but simply comprises deciding what meals you’re going to eat during the week and shopping specifically for the ingredients that you need to make those meals. It’s not a rigid process either. Your meal plan can accommodate nights out, takeaways, swapping meals around, anything really. No one is going to judge or check that you’ve kept to your plan.
					</p>
					<h3 class="service-heading">
						Identify your favourite meals
					</h3>
					<p class="section-2-paragraph">
						The first step is to gather a list of recipes that you like to cook and eat. It’s wise to keep the list under review and add to it to otherwise your diet may become a bit monotonous. And it’s not just main meals that you need to consider. Don’t forget to note down snack ideas so that you have the ingredients for them on hand too.
					</p>
					<h3 class="service-heading">
						Identify which meals you'll be cooking
					</h3>
					<p class="section-2-paragraph">
						Check your diary so you know which meals you need to cook during the week. Then choose which recipes from your master list you’d like to tackle. It might be wise to add an extra meal idea, just in case. By the time Wednesday comes around you mightn’t feel like eating stir fry. Schedules can change and you might need to cater for yourself on Friday after all. Once compiled, keep your plan handy to guide you when it’s time to get cooking.
					</p>
					<h3 class="service-heading">
						Identify what you need to buy
					</h3>
					<p class="section-2-paragraph">
						Compile your shopping list based on what ingredients you need for your chosen recipes. Check your fridge, freezer and store cupboard to see whether you already have some of the things you need. Think about organising your list according to the sections of the supermarket or different shops where you’ll acquire your ingredients. That should streamline your shopping trip.
					</p>
					<h3 class="service-heading">
						Go shopping
					</h3>
					<p class="section-2-paragraph">
						Meal planning guides suggest that you should have a regular shopping day so you get into a routine. Regardless, you should shop when you can take your time and when you’re not hungry. Don’t deviate from your shopping list just because something is on offer. Do you really need it? Will it all be used?
					</p>
					<p class="section-2-paragraph">
						Having shopped, some meal planners do some preparatory work, peeling and chopping, so they don‘t need to spend quite so much time during the week when they’re actually making their meals.
					</p>
					<h3 class="service-heading">
						How did we do
					</h3>
					<p class="section-2-paragraph">
					  We fared reasonably well with this challenge. Given it can take a while to introduce new meals that the whole family will accept, we tend to offer up choices from a limited set of recipes, maybe varying the protein or the flavourings slightly. As a result, our shopping list rarely varies and is all set up online.
					</p>
					<p class="section-2-paragraph">
						What we really should do is make more of an effort to understand who is dining at home and when so we can organise things better. And we need a few more recipes in our collection to
					  make mealtimes less predictable.
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>