<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Waste Not Want Not, workshop, plastic, waste, challenge"
	      name="keywords">
	<title>Live Lagom Plastic Waste Challenge - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Week 4 Challenge: checking our plastic waste</h2>

					<p class="section-2-paragraph">
						For the fourth week after the Waste Not, Want Not Workshop, we have to collect all the plastic packaging our household generates within the week.
					</p>
					<p class="section-2-paragraph">
					  We did something similar to this for <a class="vfb-link general-link" href="https://thebigplasticcount.com/how-it-works">The Big Plastic Count</a>.
						Fortunately it seems I didn't save my data so won't realise if our behaviour has worsened.
					</p>

					<p class="section-2-paragraph">
						We seemed to throw more plastic away than my Lagomming colleagues. We just about filled the equivalent of a carrier bag with plastic waste over two days while others took a whole week to accumulate as much. Of course, there will be differences in household numbers, but we definitely need to do better.
					</p>
					<p class="section-2-paragraph">
						I'll be reviewing my shopping habits to try to eliminate unnecessary plastic packaging. I'd really like to find a zero-waste shop nearby, but suspect I'll be disappointed. If anyone knows of one near Blackpool, please <a class="vfb-link general-link" href="mailto:admin@viewfromblackpool.co.uk">email us.</a>
					</p>
					<p class="section-2-paragraph">
						While we manage to recycle or reuse a significant amount of our hard plastic waste, I'm going to investigate our options for recycling our soft plastics.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>