<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool"
	      name="keywords">
	<title>Live Lagom - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Live Lagom</h2>

					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-seedling green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-intro">Introduction</a></p>
							<p class="service-paragraph">What is Live Lagom all about?</p>
						</div>
						<div class="service">
								<i aria-hidden="true" class="fa-solid fa-house brown"></i>
								<p><a class="service-heading vfb-link header-link" href="/live-lagom-cosy-homes">Cosy Homes</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-holly-berry green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-christmas">Sustainable Christmas</a></p>
						</div>
					</div>
					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-utensils grey"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-waste-not-want-not">Waste Not, Want Not</a></p>
							<p class="service-paragraph">Introduction to tackling food waste</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-align-justify blue"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-food-cupboard-organisation-challenge">Food Cupboard Organisation Challenge</a></p>
							<p class="service-paragraph">Better organisation to tackle food waste</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-blender brown"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-food-cupboard-recipe-challenge">Food Cupboard Recipe Challenge</a></p>
							<p class="service-paragraph">Using store cupboard staples to make a snack</p>
						</div>
					</div>

					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-list-ul blue"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-meal-planning">Meal Plan Challenge</a></p>
							<p class="service-paragraph">Meal planning to tackle food waste</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-dumpster black"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-plastic-waste-challenge">Plastic Waste Challenge</a></p>
							<p class="service-paragraph">Check what we're throwing away</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-jar green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-fermenting">Fermenting</a></p>
							<p class="service-paragraph">Using our new Ikea Korken jars</p>
						</div>
					</div>

					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-recycle green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-relove-reuse">Relove, Reuse</a></p>
							<p class="service-paragraph">Trying out recycling and upcycling</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-seedling green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-get-growing">Get Growing</a></p>
							<p class="service-paragraph">Ideas for sustainable gardening</p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-recycle black"></i>
							<p><a class="service-heading vfb-link header-link" href="">Journey to zero waste</a></p>
							<p class="service-paragraph">Update expected in June</p>
						</div>
					</div>

					<p class="section-2-paragraph margin-top">
						Visit IKEA’s
						<a class="vfb-link general-link"
						   href="https://www.ikea.com/gb/en/this-is-ikea/sustainable-everyday/ikea-live-lagom-community-pub8d845141" rel="noopener noreferrer" target="_blank">Ikea's Live Lagom webpage (opens
							in a new tab)</a>
						for more ideas and inspiration.
					<p>
					<p class="section-2-paragraph">
						Consider joining the associated
						<a class="vfb-link general-link"
						   href="https://www.facebook.com/groups/IKEALiveLagom" rel="noopener noreferrer" target="_blank">Live Lagom Facebook group (opens
							in a new tab)</a>
					<p>
					<p class="section-2-paragraph">
						And when you get involved,  use the hashtag #IKEALiveLAGOM.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>