<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Waste Not Want Not, workshop, challenge"
	      name="keywords">
	<title>Live Lagom Food Cupboard Recipe Challenge - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">

	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Week 2 Challenge: Making a healthy snack from food cupboard contents</h2>

					<p class="section-2-paragraph">
						The Waste Not, Want Not workshop ended with four challenges being set.
					</p>
					<p class="section-2-paragraph">
						For week 2, we had to use items we already had in our store cupboards to make a healthy snack.
					</p>
					<p class="section-2-paragraph">
						Bonus points were available for finding 5 food items that had’t been seen or used in 3 months, and identifying a recipe that uses them.
					</p>
					<p class="section-2-paragraph">
					  And we had to seek out our most out of date food product!
					</p>
					<h3 class="service-heading">
						Our out of date product
					</h3>
					<p class="section-2-paragraph">
						I'd been given to understand that a 2022 jar of Marmite was challenging for top spot as the most out of date product.
					</p>
					<p class="section-2-paragraph">
						I didn't think that was too bad. Not a fan anyway so it wasn't going to be incorporated into a delicious treat. And it's only my husband who'd be risking food poisoning by eating it so it's up to him whether it stays or goes.
					</p>
					<p class="section-2-paragraph">
						We did have some pre-pandemic Cheerios, but my eldest daughter had already decided they weren't edible.
					</p>
					<p class="section-2-paragraph">
						So in top spot is a 2017 tub of custard powder. I'm sure I've served custard since 2017 with no ill effects so it will stay in the cupboard for the time being until it's scrutinised more closely.
					</p>
					<h3 class="service-heading">
						Our food cupboard recipe
					</h3>
					<p class="section-2-paragraph">
						I decided to make something with elderly cashews, unwanted nigella seeds, bottled figs, various stalks and wilted veg.
						Also added to the mix was the pumpkin and leftover chicken in the freezer than was going to make its way into the dog’s bowl. Don't worry he still got plenty to eat.
					</p>
					<p class="section-2-paragraph">
						I'd flirted with the idea of a nut roast, but opted to keep that in reserve. We'd still have cashews to spare and have hazelnuts and almonds to use up.
					</p>
					<p class="section-2-paragraph">
					 Instead, I found recipes for biryani that could accommodate some of my ingredients and would be forgiving of me adding the rest!
						This <a class="vfb-link general-link" href="https://www.bbc.co.uk/food/recipes/kashmiri_biryani_14589" rel="noopener noreferrer" target="_blank">BBC Food recipe for biryani (opens in a new tab)</a> was the inspiration.
					</p>
					<img class="quarter-image" alt="Red casserole dish containing biryani with only rice layer visible" src="images/lagom/biryani.webp">
					<p class="section-2-paragraph">
						Then for good measure we made naan bread with cashews and nigella seeds as additives (just the dough recipe that came with the breadmaker – what? You expected me to do some kneading?)
					</p>
					<img class="quarter-image" alt="Pile of small round naan bread with raisins visible on a turquoise plate" src="images/lagom/naan.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>