<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Wast Not Want Not, workshop"
	      name="keywords">
	<title>Live Lagom Waste Not Want Not Workshop - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Tackling Food Waste</h2>
					<p class="section-2-paragraph">
						In 2013, <a class="vfb-link general-link" href="https://www.theguardian.com/environment/2013/nov/07/uk-households-food-waste" rel="noopener noreferrer" target="_blank">The Guardian newspaper (opens in a new page)</a>
            reported that UK households wasted 6.5 million tonnes of food every year, and that there was nothing wrong with 60% of that food. It  could have been eaten. The cost of that waste was about £60 every month per family.
						The carbon associated with that avoidable food waste was equivalent to taking one in four cars off UK roads.
					</p>
					<p class="section-2-paragraph">
						So why is there all this avoidable waste? People tend to buy more than they need and over-estimate portion sizes. There’s confusion about what food labels actually mean and a lack of understanding about how to store certain foods.
					</p>
					<p class="section-2-paragraph">
						There are ways to make inroads into reducing that waste.
					</p>
					<h3 class="service-heading">
						Become a smarter shopper
					</h3>
					<p class="section-2-paragraph">
						Know what food you already have at home. Plan your additional purchases. Don’t be tempted by retailers’ marketing strategies and buy more than you need. Stick to the plan.
					</p>
					<p class="section-2-paragraph">
						You can cut your costs by buying irregularly-shaped or discoloured fruit and vegetables. They taste the same as their perfectly-shaped and coloured brethren, but might end up as food waste if consumers don’t buy them.
					</p>
					<p class="section-2-paragraph">
						Check the dates on products as you buy them. Anyone who has ever worked in food retail knows about ‘pulling forward’. All the stock with imminent sell by dates is presented at the front of the display. If you don’t intend to consume an item until later, reach to the back of the display so you get one with a longer sell by date on it.
					</p>
					<h3 class="service-heading">
						Learning about food labels
					</h3>
					<p class="section-2-paragraph">
						Food, if well packaged and properly stored, is safe to eat even after the “best before” date, as this date simply refers to the quality of the food and when it is in optimal condition (e.g. taste and texture).
					</p>
					<p class="section-2-paragraph">
						The “use by” date informs you when food is no longer safe to eat.
					</p>
					<p class="section-2-paragraph">
						Sometimes you might also a “display date”, which shows how long a food product can be displayed in retail, but doesn’t indicate anything about its actual consumption.
					</p>
					<h3 class="service-heading">
						Store your food properly
					</h3>
					<p class="section-2-paragraph">
						Different food types have their own requirements about where they are best stored and details can be easily found online. For example, there's this
						<a class="vfb-link general-link" href="https://www.webmd.com/food-recipes/ss/slideshow-where-to-store-food" rel="noopener noreferrer" target="_blank"> overview of how to store some common foods (opens in a new page)</a>
						and these <a class="vfb-link general-link" href="https://www.cleanipedia.com/gb/kitchen-cleaning/how-to-organise-a-fridge.html" rel="noopener noreferrer" target="_blank"> tips on where to best store your perishables in the fridge (opens in a new page)</a>
					</p>
					<p class="section-2-paragraph">
							Check the settings on your fridge to ensure that it is functioning as it should and don’t over pack it as that can affect its performance.
					</p>
					<p class="section-2-paragraph">
						After opening, close and seal packages to keep their contents fresh. Or, if appropriate, split larger packs into smaller bags and freeze some.
					</p>
					<p class="section-2-paragraph">
						Freeze short dated items if you’re not going to eat them right away.
					</p>
					<p class="section-2-paragraph">
						Avoid UFOs or Unidentified Frozen Objects and label anything you put in the freezer, or in weeks to come you might wonder whether the substance in a container is suitable for dinner or dessert.
					</p>
					<p class="section-2-paragraph">
						Copy the retailers, put newly purchased foods, that have a longer shelf-life, at the back of the cupboard, fridge or freezer. Older products that will expire sooner should be moved toward the front to ensure they are used next.
					</p>
					<h3 class="service-heading">
						Don't serve too much food
					</h3>
					<p class="section-2-paragraph">
						Understand correct portion sizes and only prepare the quantities of food you need and intend to eat. The
						<a class="vfb-link general-link" href="https://www.bda.uk.com/resource/food-facts-portion-sizes.html" rel="noopener noreferrer" target="_blank"> British Dietetic Association's summary of portion sizes (opens in a new page)</a>
						and <a class="vfb-link general-link" href="https://www.fooducate.com/community/post/Understanding-Serving-Sizes-is-Key-to-Weight-Loss/562781BF-F46A-794E-480F-A4E66DC5933C" rel="noopener noreferrer" target="_blank"> Fooducate's overview of serving sizes (opens in a new page)</a>
						might help.
					</p>
					<p class="section-2-paragraph">
						If dining away from home, ask for a smaller portion if you think you will not be able to eat everything that is being served. Or if you’re at a buffet, serve yourself with a small portion to start and opt for seconds, rather than start with a larger portion and not finish it.
					</p>
					<h3 class="service-heading">
						Love your leftovers
					</h3>
					<p class="section-2-paragraph">
						Store any leftovers appropriately so they can be eaten at a later date or used as ingredients in the preparation of another meal. Don’t be shy about asking restaurants for a “doggy bag”.
					</p>
					<p class="section-2-paragraph">
						There are many creative ideas for using food items that might usually be wasted, such as
						<a class="vfb-link general-link" href="https://www.jamieoliver.com/recipes/category/course/leftovers/" rel="noopener noreferrer" target="_blank"> Jamie Oliver's leftover recipes (opens in a new page)</a>
						and this <a class="vfb-link general-link" href="https://www.ikea.com/ca/en/files/pdf/02/fa/02fab6b6/scrapsbook-april.pdf?itm_campaign=scrapcookingpdf_hub_en&itm_element=hub_scrapcookingpdf_en&itm_content=scrapcookingpdf" rel="noopener noreferrer" target="_blank"> Ikea e-book of recipes (opens in a new page)</a>
					</p>
					<h3 class="service-heading">
						Share your surplus
					</h3>
					<p class="section-2-paragraph">
						If you’re a keen gardener or have a food store, maybe you sometimes have surplus food. There are a number of websites or mobile applications, like Olio, that allow you to share surplus or unwanted food with others. Food banks may be another option, depending on the food that you have available.
					</p>
					<h3 class="service-heading">
						Get composting
					</h3>
					<p class="section-2-paragraph">
						Some food will be inedible or can’t be reused safely, but it still doesn’t have to end up in landfill, generating significant quantities of methane and exacerbating climate change. Instead, consider composting.
						There are <a class="vfb-link general-link" href="https://helpmecompost.com/home-composting/methods/types-of-composting/" rel="noopener noreferrer" target="_blank">different composting approaches</a> to suit most households.
					</p>
					<p class="section-2-paragraph">
						We’ve got bokashi bins that we use to start breaking down our food waste. Then we add that to a hot compost bin, with our garden waste, to be further processed. We only started that last year so are still waiting for our first batch of compost to be added to the garden.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>