<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Get Growing, workshop, seeds, seed bomb, paper pots, seed swap, plant swap, growing from leftovers, germination"
	      name="keywords">
	<title>Live Lagom Get Growing - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">

	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Get Growing Workshop</h2>

					<img class="quarter-image" alt="large screen with a gardening image and text projected onto it" src="images/lagom/growing-workshop.webp">
					<p class="section-2-paragraph">
						The Get Growing Workshop comprised the the usual set of slides to provide a wealth of ideas and handy tips, with plenty of hands-on activities to follow.
						As it coincided with an improvement in the weather, and we'd all swapped various seeds and plants, there's been plenty of gardening activity amongst the group.
					</p>

					<div class="services-2">
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-seedling green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-seed-bombs">Making seed bombs</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-whiskey-glass brown"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-pots">Alternatives to shop-bought plant pots</a></p>
						</div>
						<div class="service">
							<i aria-hidden="true" class="fa-solid fa-leaf green"></i>
							<p><a class="service-heading vfb-link header-link" href="/live-lagom-growing-leftovers">Growing from leftovers</a></p>
						</div>
					</div>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>