<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, induction, introduction"
	      name="keywords">
	<title>Live Lagom Introduction - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Live Lagom - Introduction </h2>

					<p class="section-2-paragraph">
						After a few years of vicariously following Ikea’s<sup>*</sup>
						<a class="vfb-link general-link"
							href="https://www.ikea.com/gb/en/this-is-ikea/sustainable-everyday/ikea-live-lagom-community-pub8d845141" rel="noopener noreferrer" target="_blank">Ikea's Live Lagom Programme (opens
							in a new tab)</a>
						via the associated
						<a class="vfb-link general-link"
						   href="https://www.ikea.com/gb/en/this-is-ikea/sustainable-everyday/ikea-live-lagom-community-pub8d845141" rel="noopener noreferrer" target="_blank">Live Lagom Facebook group (opens
						in a new tab)</a>
						, I’ve finally managed to be accepted as a participant.
					</p>

					<aside class="section-2-paragraph-grey">
						  <em>*</em> Please note that other purveyors of homewares and Swedish meatballs are available.
					</aside>
					<p class="section-2-paragraph">
					  So what is ‘Live Lagom’ or ‘Lagom’?
					</p>
					<p class="section-2-paragraph">
					 It's pronounced “law-ghum” or “lah-gum” by the way.
					</p>
					<p class="section-2-paragraph">
						In your best Swedish accent…no not that of the Swedish chef from the Muppets! Channel your inner Greta Thunberg, Björn Borg or [insert your favourite Swede here]...
					</p>
					<p class="section-2-paragraph">
						The Swedish phrase <span lang="sv">“Lagom är bast”</span> means “the right amount is best”. It’s the philosophy that underpins Ikea’s Live Lagom programme that was set up in conjunction with the University of Surrey to explore how people can be inspired to live more sustainably.
					</p>
					<p class="section-2-paragraph">
						Living Lagom doesn’t have to be a chore. It doesn’t require changes in every aspect of your life. It’s about doing what you can. Small changes made by many people can have a big impact.
					</p>
					<p class="section-2-paragraph">
						Lagom is about using what you need, whether it’s food, energy or water, so that there is enough for everyone and undue pressure is not placed on the environment.
					</p>
					<p class="section-2-paragraph">
						Living Lagom also promotes the idea that we should buy high-quality, long-lasting items rather than purchasing things that are only used once and then thrown away.
					</p>
					<p class="section-2-paragraph">
						It’s about seeking a balance in all aspects of our lives, both work and leisure.
					</p>
					<p class="section-2-paragraph">
						Ikea have trained Live LAGOM Leaders to help their local Lagomers identify goals, learn new skills and stay engaged. They have created a Facebook group with the aim of growing the LAGOM community and inspiring thousands more people with the ideas, life hacks, and top tips. They also run workshops in many of their stores around such themes as reducing food waste, making your home more energy efficient and cosy with textiles and upcycling.
					</p>
					<p class="section-2-paragraph">
						We’ve tried to do some things already, but with the Live Lagom community spurring us on, I’m anticipating energy savings, behavioural changes and better organised storage. I’m probably hoping for more, but I’m content to start small and then grow our sustainability efforts.
					</p>
					<p class="section-2-paragraph">
						I’ll share our progress here on viewfromblackpool.co.uk.
					<p>
					<p class="section-2-paragraph">
					  Visit IKEA’s
					  <a class="vfb-link general-link"
					    href="https://www.ikea.com/gb/en/this-is-ikea/sustainable-everyday/ikea-live-lagom-community-pub8d845141" rel="noopener noreferrer" target="_blank">Ikea's Live Lagom webpage (opens
						  in a new tab)</a>
					  for more ideas and inspiration.
					<p>
					<p class="section-2-paragraph">
					Consider joining the associated
					<a class="vfb-link general-link"
					   href="https://www.facebook.com/groups/IKEALiveLagom" rel="noopener noreferrer" target="_blank">Live Lagom Facebook group (opens
						in a new tab)</a>
					<p>
					<p class="section-2-paragraph">
					  And when you get involved,  use the hashtag #IKEALiveLAGOM.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>