<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/head-ga'); %>
	<%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Relove Reuse, workshop, recycle, upcycle"
	      name="keywords">
	<title>Live Lagom Relove Reuse - View From Blackpool</title>
	<%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
		  <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Relove, Reuse Workshop</h2>

					<p class="section-2-paragraph">
						The Relove, Reuse Workshop took us into creative mode once again.
					</p>
					<p class="section-2-paragraph">
						It's easy to fall out of love with a piece of furniture or accessory. Fashions might change. You might have updated your paint or wallpaper. You might just have seen something somewhere that you really must have.
					</p>
					<p class="section-2-paragraph">
						But are your existing furnishings still serviceable? Is it just a problem with aesthetics? Do you really need to throw things out or find a new home for them? Maybe with a bit of TLC and creativity you could enjoy their presence in your home once more.
					</p>
					<p class="section-2-paragraph">
						That was the premise behind the Live Lagom Relove, Reuse Workshop.
					</p>
					<p class="section-2-paragraph">
						We were just decorating basic storage items, to personalise them, and giving a fresh look to some slightly shop-soiled stuff. However, we all had further projects in mind for revamping things in our homes.
					</p>
					<p class="section-2-paragraph">
						I'm not averse to hauling old furniture home from charity or second-hand shops in order to give them a makeover. When I decide to risk my thumbprints and device logins with a bit of sanding, I'll be able to share transformations of a £5 occasional table and a £20 chest of drawers.
						I have already saved pounds by upcycling other occasional tables, a dining room table and dining room chairs.
					</p>
					<img class="quarter-image" alt="two dining room chairs. One oak coloured wood and grey upholstery. One mahogany wood, with red and cream striped upholstery" src="images/lagom/upholstery-project.webp">
					<p class="section-2-paragraph">
						For the chairs, as hopefully you can tell from the picture, I stripped the heavy mahogany-coloured varnish and replaced it with a oak-coloured stain. The dirty, red and cream striped upholstery was replaced with grey fabric.
						For good measure we made the seats a bit more padded. There were six chairs and it took quite a bit of time, but definitely worth it.
					</p>

					<p class="section-2-paragraph">
						So what did we do in the workshop?
					</p>
					<p class="section-2-paragraph">
						We were all presented with a flat-packed, wooden storage crate. In addition, we were invited to choose items from a trolley full of glass jars, fabric storage cubes, wooden filing boxes, hangers and much more.
						We'd been advised to bring decorative paper, but there were were all sorts
						of paints, pens and other decorating tools on offer. The artists in the group started drawing and painting. Others tried etching or covering items in paper.
					</p>
					<p class="section-2-paragraph">
					  I started with the storage crate and an old A to Z map book.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="Pile of parts from a wooden crate on a table, with a glue bottle" src="images/lagom/basic-storage-box.webp">
						<img class="quarter-image" alt="Pile of parts from a wooden crate that have been covered in map paper" src="images/lagom/disassembled-storage-box.webp">
					</p>
					<p class="section-2-paragraph">
						The A to Z book was pulled apart. I glued pages onto the side pieces of the wooden crate. No attempt was made to carefully align the pieces. I'd still be there glueing if I'd tried that!
					</p>
					<p class="section-2-paragraph">
						I let the glue dry, varnished the pieces to make the paper coating more durable and assembled the parts into a crate. I have to admit I love it!
					</p>
					<img class="quarter-image" alt="Wooden storage crate, with the sides and lower part of the ends covered in map paper" src="images/lagom/completed-storage-box.webp">
					<p class="section-2-paragraph">
						I also took a fabric cube storage box, but didn't have time to decorate that during the workshop. I intended the cube as a place for our cat, Kuma, to slumber rather than have her diving into underwear drawers.
						So, as the cube will be located in a child's bedroom, I have commissioned my artistic offspring to personalise the object. If that ever happens, I'll share the results here (and Kuma's verdict).
					</p>
					<h3 class="service-heading">
						Update
					</h3>
					<p class="image-section">
						<img class="quarter-image" alt="White Ikea Drona cube with a circular hole cut in the front, edged in black, ears and whiskers drawn on" src="images/lagom/kuma_drona_front.webp">
						<img class="quarter-image" alt="Japanese emoticon of a cat drawn in black on a white Ikea Drona cube" src="images/lagom/kuma_drona_back.webp">
					</p>
					<p class="section-2-paragraph">
						I waited a week, but in the end I took the box and decorated it myself!
					</p>
					<p class="section-2-paragraph">
						It was harder than I thought to carve a circular hole in one side. There's a very tough layer beneath the fabric. But I got there in the end and then sewed ribbon around the edge.
					</p>
					<p class="section-2-paragraph">
						Next step was to dig out the permanent markers to draw on some ears. Thin cord sewn through the box was perfect for adding whiskers. The front of the box was complete.
					</p>
					<p class="section-2-paragraph">
						Given the Kallax unit which was going to house the box is positioned as a room divider, I thought I'd better decorate the back of the cube as that would be visible too. My children like anime so I eventually hit on the idea of drawing a
						Japanese cat emoticon. Far less marker pen required than the cat silhouette than I'd originally considered.
					</p>
					<p class="section-2-paragraph">
						I think it looks OK. Kuma wasn't too happy that the fur fabric lining had been 'investigated' by a dog. I say investigated, but savaged is probably a better description. Too much canine scent anyway and the soft, furry bed has been covered up. Hopefully she'll get used to it.
					</p>
				</section>
			</main>

		  <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>