<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Get Growing, workshop, seeds, seed bomb"
	      name="keywords">
	<title>Live Lagom Plants from Leftovers - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Growing Plants from Leftovers</h2>

					<p class="section-2-paragraph">
						Once you've used up your vegetables and are left with stalks and other bits you'd rather not eat, can you only turn to the compost heap as the next step?
					</p>
					<p class="section-2-paragraph">
						You've probably already guessed that the answer is 'no', for some vegetables at least.
					</p>
					<p class="section-2-paragraph">
						If you have vegetables such as celery, lettuce and bok choy, cut off the base so you're left with a piece that's 2 to 3 centimetres tall. Place this, cut side up, in a
						shallow container of water, talking care not to let the water cover the entire piece of stalk. And then wait, leaving the container on a sunny windowsill, periodically refreshing the water. Eventually, new roots and shoots should appear
						and you can plant the sprouting stalk in compost and await a harvest.
					</p>
					<p class="section-2-paragraph">
						You can give the leftover tops from root vegetables, like carrots the same treatment, but here you're expecting leafy growth and seed production.
					</p>
					<img class="quarter-image" alt="two small glass containers of water, one containing a carrot top and the other the stalk of an iceberg lettuce" src="images/lagom/plants-leftovers.webp">
					<p class="section-2-paragraph">
						Add now I'm waiting to see what happens with the stalk of an iceberg lettuce and some carrot tops. Other offcuts will no doubt join the experiment in the near future.
					</p>
					<p class="section-2-paragraph">
						Where I can, I save seeds that might ordinarily go to waste. My garden, this year will be filled with marigolds and sweet peas grown from seeds that I saved last year. I even collected enough to share with colleagues.
					</p>
					<img class="small-image" alt="noticeboard containing a sign advertising free seeds and bags full of small seed packets" src="images/lagom/free-seeds.webp">
					<p class="section-2-paragraph">
						You need to make sure the seeds are properly dried before storing them. Often it's done by Mother Nature as it is easy to miss dead flower heads or different seed pods when tidying the garden.
					</p>
					<p class="section-2-paragraph">
						I saved some french bean seeds from my garden and found a few abandoned broad bean pods when roaming around the countryside near the Bosworth Field battle site.
						While I know Richard III didn't fight his way through a broad bean field, I still like the connection.
					</p>
					<img class="small-image" alt="broad bean plants growing in a black container" src="images/lagom/broad-bean.webp">
					<p class="section-2-paragraph">
						While I did have shop bought tomato seeds this year, the plants that grew, and grew prolifically, were all from a couple of baby plum tomatoes from our salad drawer. I just sliced them up, added them to some compost and they grew! This was no small sacrifice. I was planting the seeds just at the time when salad stocks were running very low in the supermarkets.
					</p>
					<p class="section-2-paragraph">
						I'm also not averse to planting acorns, conkers, apple pips and the stones from various fruits. Now if only I had somewhere to plant out my tree collection...
					</p>
					<p class="image-section">
						<img class="small-image" alt="small apple tree in a green container" src="images/lagom/apple-tree.webp">
						<img class="small-image" alt="various small trees in containers" src="images/lagom/young-trees.webp">
					</p>
					<p class="section-2-paragraph">
						Even so I'll try to add to the pots full of baby trees. One of my fellow Lagommers pointed me in the direction of how to easily sprout citrus pips.
						When I next acquire a lime, all I need to do is soak a pip for 6 hours, peel off the outer layer, plant the pip in compost, water and cover it until leaves appear.
						Strangely lemon pips can be handled differently. They get soaked for 1 hour, before being placed in folded, wet kitchen towel inside a plastic bag. After about a week, opening up the kitchen towel should reveal a sprouted seed that can be planted.
					</p>
					<p class="section-2-paragraph">
						It was going to be some time before I acquired other citrus fruit and, when a few orange pips came into my possession, I thought 'why not?'.
					</p>
					<p class="section-2-paragraph">
						Not knowing whether an orange pip is more akin to a lemon or lime one, I tried three different approaches.
					</p>
					<p class="section-2-paragraph">
						All of the pips were soaked in water overnight.
					</p>
					<p class="section-2-paragraph">
						One was placed in wet kitchen roll and sealed in a bag.
					</p>
					<p class="image-section">
						<img class="small-image" alt="orange pip on a rectangular piece of wet, white kitchen roll" src="images/lagom/pip-kitchen-roll.webp">
						<img class="small-image" alt="square folded piece of wet, white kitchen roll in a small plastic ziplock bag with red leaf pattern" src="images/lagom/pip-ziplock.webp">
					</p>
					<p class="section-2-paragraph">
						The other pips were planted in compost. One had the outer part of the pip removed. The other was left as-is. The picture below shows the pips on the surface of the compost, but they were eventually covered over. Then glass jars were placed over the top to preserve the humidity.
					</p>
					<p class="image-section">
						<img class="quarter-image" alt="orange pips on the surface of compost in plant pots" src="images/lagom/pips-pots.webp">
						<img class="small-image" alt="two plant pots with rounded bottom glass jars placed upside down on top of the pots" src="images/lagom/pips-pots-covered.webp">
					</p>
					<h3 class="service-heading">
						Update
					</h3>
					<p class="section-2-paragraph">
						The first lot of carrots and lettuce that I tried to sprout were a complete failure. The carrots just went soft. The lettuce is hanging in there, but has no signs of new life.
					</p>
					<p class="section-2-paragraph">
						A second batch of carrots do have new leaves. Hopefully roots will follow.
					</p>
					<img class="small-image" alt="small glass container of water containing two carrot tops with new leaf growth" src="images/lagom/carrots-sprouting.webp">
					<p class="section-2-paragraph">
						I'd also tried sprouting a brocolli stalk. That has now got some new leaves and flowers, plus a set of roots! I'll now be planting that out in the hope that I can harvest some seeds for next season.
					</p>
					<p class="image-section">
						<img class="small-image" alt="brocolli stalk with new leaves, flowers and roots" src="images/lagom/brocolli-sprouting.webp">
						<img class="small-image" alt="base of a brocolli stalk showing new roots" src="images/lagom/brocolli-roots.webp">
					</p>
					<h3 class="service-heading">
						Orange Pip Update
					</h3>
					<p class="section-2-paragraph">
						The pip wrapped in kitchen roll started to show signs of sprouting after a few weeks which is far longer than the guide suggested.
					</p>
					<img class="small-image" alt="slightly sprouting orange pip on a rectangular piece of wet, white kitchen roll" src="images/lagom/pip-sprouting.webp">
					<p class="section-2-paragraph">
						I left it a bit longer until a root and leaves were more discernible then put it in a pot of compost. And waited some more.
					</p>
					<img class="small-image" alt="sprouting orange pip on a rectangular piece of wet, white kitchen roll" src="images/lagom/sprouting_pip.webp">
					<p class="section-2-paragraph">
						My patience was rewarded as leaves appeared and the wannabe orange tree is still growing. I won't get the juicer set up just yet though!
					</p>
					<img class="small-image" alt="brown plastic pot filled with compost in which there is a small plant with broad green leaves" src="images/lagom/orange_plant.webp">

				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>