<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Waste Not Want Not, workshop, challenge"
	      name="keywords">
	<title>Live Lagom Cupboard Reorganisation Challenge - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">

	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Week 1 Challenge: reorganising a food cupboard</h2>

					<p class="section-2-paragraph">
						The Waste Not, Want Not workshop ended with four challenges being set.
					</p>
					<p class="section-2-paragraph">
						For week 1, we had to choose a kitchen cupboard and spend some time reorganising it.
					</p>

					<p class="section-2-paragraph">
						Why?
					</p>
					<p class="section-2-paragraph">
						Obviously it looks nicer and who doesn’t want that?
					</p>
					<p class="section-2-paragraph">
						There’s less chance of items cascading out – or is that just my cupboards?
					</p>
					<p class="section-2-paragraph">
						The expectation is that a more organised food cupboard makes it easier to find the items you want so saves time.
					</p>
					<p class="section-2-paragraph">
						If you can see what you’ve already bought, you won’t go out and purchase something unnecessarily. That means reduced expenditure and less chance of things being wasted.
					</p>

					<h3 class="service-heading">
						Our starting position
					</h3>
					<p class="section-2-paragraph">
						The kitchen cupboards were allocated contents once the builders had departed and we have never bothered to review the setup since. We knew there was poor use of the available space, clutter, inefficiencies, hidden depths where aged produce lurked and many more horrors. But we also recognised that it was going to be a big job and no one was keen to tackle it…until Lagom came into our lives!
					</p>
					<img class="small-image" alt="Two tall shelving units at right angles to each other, filled with wire baskets, boxes and foot items" src="images/lagom/before-pantry.webp">
					<p class="section-2-paragraph">
						A small L-shaped offshoot from the kitchen, that had been the route to a back door, contained two shelving units stacked with various foodstuffs. Let’s refer to it as the ‘pantry’. Some of the shelving was difficult to access. Attempts to impose order and use certain crates for particular items were frequently undermined in the frantic aftermath of a grocery delivery and the need to get things out of the way. It was far too easy to miss to stockpiles of x and buy more. Things could easily be overlooked and become inedible.
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves full of stacked glassware and china" src="images/lagom/before-top-china-cupboard.webp">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves full of spice, baking ingredients, recipe books and assorted boxes" src="images/lagom/before-topRightCupboard.webp">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves full of stacked plates, bowls, mugs and teapots" src="images/lagom/before-bottom-china-cupboard.webp">
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with two shelves of bakeware and food mixers" src="images/lagom/before-bakeware-cupboard.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves of baking tins, plastic storage boxs and a grater" src="images/lagom/before-undersink.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of appliances and miscellaneous kitchen items" src="images/lagom/before-bottom-cupboard.webp">
					</p>
					<p class="section-2-paragraph">
						The cupboards in the kitchen itself were mostly given over to crockery, glassware, baking tins, appliances and miscellaneous ‘stuff’.
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves full of plastic boxes, first aid kits, toiletries and toilet rolls" src="images/lagom/before-utility-bottom-left.webp">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves full of cereals, kitchen appliances and tins" src="images/lagom/before-utility-top-left.webp">
					</p>
					<p class="section-2-paragraph">
						The cupboards in the utility room contained yet more ‘stuff’, some food, appliances, first aid kits and the like.
					</p>
					<p class="section-2-paragraph">
						The kitchen table and various worktops also were used to store items that should have lived in cupboards.
					</p>

					<h3 class="service-heading">
						The plan
					</h3>
					<p class="section-2-paragraph">
						The general idea was to store less frequently used items in the ‘pantry’. This would become the repository of appliances, rarely-used crockery and miscellaneous items that might be needed at some point and wouldn’t be disposed of – yet!
					</p>
					<p class="section-2-paragraph">
						The food would be stored in a more visible, accessible manner, closer to its point of use.
					</p>
					<p class="section-2-paragraph">
						The contents of cupboards would match the storage space available. No more stuffing things in and hoping they stay put when someone opens a door! And no more leaving unused space in the cupboards.
					</p>
					<p class="section-2-paragraph">
						The aim in the first phase of reorganisation was to move everything around and assess the suitability of the changes.
					</p>
					<h3 class="service-heading">
						The results
					</h3>
					<p class="section-2-paragraph">
						The first step was to allocate a cupboard for pet-related items. Some of the food and treats had previously lurked in the pantry. Some had established a presence on the kitchen table in a box.
						I'm still not sure whether it's ideal for it all to be in the utility room given some of the preparation occurs in the kitchen, but it's worth a try. Everything is in one place and tidier.
					</p>
					<img class="small-image" alt="White kitchen cupboard with three shelves full of pet food and treats" src="images/lagom/after-pet-cupboard.webp">
					<p class="section-2-paragraph">
						To save hauling multiple cartons of milk through to the pantry and then back to the fridge, I decided that the milk, juices and hot beverage backup supplies would be stored in the utility room right next to the back door and the fridge. Less haulage and we can see at a glance when we're running short. We're less likely to become overstocked too.
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with two shelves of baking tins, plastic storage boxs and a grater" src="images/lagom/after-utility-bottom-left.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of appliances and miscellaneous kitchen items" src="images/lagom/after-utility-bottom-middle.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of appliances and miscellaneous kitchen items" src="images/lagom/after-utility-top-left.webp">
					</p>
					<p class="section-2-paragraph">
						Other drinks bottles migrated to the utility room too. They used to live in the pantry, but will be more accessible in their new location, and more easily monitored.
					</p>
					<p class="section-2-paragraph">
						Coralling all the first aid and toiletry supplies in a single cupboard in the utility room seemed like a good idea as well.
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with two shelves of plates and bowls" src="images/lagom/after-undersink.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of mugs, flasks and teapots" src="images/lagom/after-bottom-china-cupboard.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of appliances and miscellaneous kitchen items" src="images/lagom/after-top-china-cupboard.webp">
					</p>
					<p class="section-2-paragraph">
						The plates and bowls migrated across the kitchen into a cupboard closer to where we cook and serve our meals.
					</p>
					<p class="section-2-paragraph">
						The mugs had been crammed into a small cupboard. They've now been given more space and co-exist with the teapots and other drinks containers. They're positioned close to the kettle and coffee maker.
					</p>
					<p class="section-2-paragraph">
						With the china dinner set stashed in the pantry until special guests arrive, there was more space to store all the glassware in a single cupboard, without too much stacking required.
					</p>
					<p class="image-section">
						<img class="small-image" alt="White kitchen cupboard with three shelves full of food jars and packets" src="images/lagom/top-left-cupboard-tidy.webp">
						<img class="small-image" alt="White kitchen cupboard with multiple shelves of tinned food, bottles and packets" src="images/lagom/after-topRightCupboard.webp">
						<img class="small-image" alt="White kitchen cupboard with two shelves full of black cube storage boxes" src="images/lagom/after-bottom-cupboard.webp">
					</p>
					<p class="section-2-paragraph">
						The cereals were moved into the kitchen, where they're prepared, near to the crockery.
					</p>
					<p class="section-2-paragraph">
						The tins and other food stuffs were put into cupboards so they can be easily accessed and more easily monitored. All the baking and cake decorating paraphenalia were put into cube storage boxes to keep them tidy. I don't think this is how we'll keep things.
						We'll probably move some of this out into one of the empty cupboards and use storage boxes that use all of the available space. But it's fine for the time being.
					</p>
					<p class="image-section">
						<img class="small-image" alt="View from above of a white kitchen drawer full of spice jars and packets" src="images/lagom/spicedrawer.webp">
						<img class="small-image" alt="View from above of a white kitchen drawer, full of food jars, bottles and packets" src="images/lagom/bottomDrawerTidied.webp">
					</p>
					<p class="section-2-paragraph">
						My favourite change has to be putting all the spice jars on display within a drawer. It's far easier to see what options we now have for flavouring our food. I'm hoping we'll make better use of the whole range of spices and, in the future, won't have multiple open jars of the same thing.
					</p>
					<p class="section-2-paragraph">
						Another change that seems to have found widespread favour is storing all the oils, condiments, gravies, and the like, in a drawer beside the cooker. This had previously held a few frying pans. Poor use of space as they all now fit into the oven drawer.
					</p>
					<img class="small-image" alt="Two tall shelving units at right angles to each other, filled with wire baskets, boxes and foot items" src="images/lagom/after-pantry-tidied.webp">
					<p class="section-2-paragraph">
						The 'pantry' mightn't look too different. It still needs different storage boxes to make a visible improivement. However, we have less need to fight our way into the area as it only really contains those items that we rarely use.
					</p>

					<h3 class="service-heading">
						Is that it?
					</h3>
					<p class="section-2-paragraph">
						It's an improvement, but we're not finished yet. A further phase will be to acquire appropriate storage boxes and containers to make the kitchen aesthetically pleasing and easy to maintain.
					</p>
					<p class="section-2-paragraph">
						And we've freed up some cupboard space so now need to consider how best to use it.
					</p>
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>