<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head-ga'); %>
  <%- include('../../partials/head-meta'); %>
	<meta content="Blackpool, Lagom, Live Lagom, Ikea, sustainability, View From Blackpool, Get Growing, workshop, plant pots, newspaper, plastic bottles"
	      name="keywords">
	<title>Live Lagom Plant Pots - View From Blackpool</title>
  <%- include('../../partials/head-links'); %>
</head>

<body>
  <div class="container">
	  <a class="skip-link" href="#main-content">Skip to main content</a>
	  <div class="front-page">
	    <%- include('../../partials/header'); %>

			<main id="main-content">
				<section class="section-2" id="'section-2">
					<h2 class="section-2-heading" id="section-2-heading">Making Paper Plant Pots</h2>

					<p class="section-2-paragraph">
						Sometimes you just don't have enough plant pots for all the seeds you want to grow. You <em>could</em> buy more, but there are alternatives. Ikea's Live Lagom Get Growing workshop showed us how to make pots using a sheet of newspaper and a glass jar.
					</p>
					<img class="small-image" alt="three small pots make from newspaper, filled with compost and a seedling in each" src="images/lagom/paper-pots-growing.webp">
					<p class="section-2-paragraph">
						Lay the sheet of newspaper flat and fold it lengthwise twice to form a long narrow strip.
					</p>
					<p class="section-2-paragraph">
						Place the jar on the newspaper strip, with about half of the strip overlapping the open end of the jar. Then roll the paper around the jar.
					</p>
					<img class="small-image" alt="a jar being wrapped in a strip of newspaper" src="images/lagom/plant-pots-rolling.webp">
					<p class="section-2-paragraph">
						You'll find this easier if you choose a cylindrical jar. One that is shaped can make it tricky to extricate the jar from the rolled newspaper.
					</p>
					<p class="section-2-paragraph">
						Push the ends of the paper into the open end of the jar then remove the jar from the paper.
					</p>
					<p class="section-2-paragraph">
						Push the jar into the paper pocket to squash the folds flat and seal the bottom of your pot. Once the jar is removed, the pot is ready for use.
					</p>
					<img class="small-image" alt="two different sized pots made out of newspaper" src="images/lagom/paper-pots.webp">
					<p class="section-2-paragraph">
						In the workshop, we filled them with compost and chose from a selection of seeds we'd brought to swap. Hopefully I'll have a pumpkin sprouting before too long.
					</p>
					<img class="small-image" alt="newspaper pot filled with compost" src="images/lagom/paper-pot-filled.webp">

					<h2 class="section-2-heading" id="section-2-heading-2">Making a Self-watering Planter</h2>
					<p class="section-2-paragraph">
						This is easy to make and reuses a plastic bottle.
					</p>
					<p class="section-2-paragraph">
						Just cut the bottle in half and set the top half upside down in the lower half of the bottle. The top half will be used to grow your plant while the bottle half will comprise the water reservoir.
					</p>
					<img class="small-image" alt="three litre plastic oil bottle, cut in half, alongside a pair of scissors with orange handles" src="images/lagom/planter-cut.webp">
					<p class="section-2-paragraph">
						Cut a strip of cloth (cotton is recommended) or length of string and feed it through the bottle until it touches the bottom of the base. This will act as a wick to transfer water from the base into the compost above.
					</p>
					<p class="section-2-paragraph">
						Place a small piece of newspaper or fabric over the hole in the top half of the bottle to prevent the compost falling through. Or you can use the lid of the bottle if you make a hole in it that allows the wick to fit through.
					</p>
					<p class="section-2-paragraph">
						Holding the cloth upright, carefully add some compost to the planter. Curl the remaining cloth into a circle around the planter and cover in in compost. Buiuld up layers of compost and coiled fabric.
					</p>
					<img class="small-image" alt="view from above of a plastic container, with compost at the bottom and a thin strip of fabric coiled on top" src="images/lagom/planter-filling.webp">
					<p class="section-2-paragraph">
						Fill the base with water and add your seeds or plant to the compost.
					</p>
					<img class="small-image" alt="planter made from a plastic oil bottle, a container containing compost is being held above a water-filled bottom reservoir, with a dangling wick" src="images/lagom/planter-water.webp">
					<p class="section-2-paragraph">
						Given I should be able to see any roots through the clear plastic, I'm using my planter to try to grow some cuttings. It'll be easier to tell whether I've been successful in creating new plants.
					</p>
					<img class="small-image" alt="planter made from a plastic oil bottle, water in the bottom reservoir, with compost and Christmas cactus cuttings in the upper container" src="images/lagom/planter-complete.webp">
				</section>
			</main>

	    <%- include('../../partials/footer'); %>

	  </div>
  </div>
</body>
</html>